@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-family-01: 'Montserrat';
}

/*############################################################ HEADER #############################################################*/

header {
    z-index: 3;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.logo {
    left: 20px;
    top: 20px;
    z-index: 4;
}

nav {
    height: 91px;
    background-color: white;
}

.cabecalho {
    height: 100%;
    column-gap: 131px;
}

.item-list-header {
    align-self: center;
    font-family: var(--font-family-01);
    padding: 20px 30px;
}

.item-list-header a {
    text-decoration: none;
    color: #000000;
}

.space-line {
    height: 68px;
    border-left: 1px solid;
}

.header-buttons {
    column-gap: 20px;
}

.btn-colaboradores {
    color: white;
    background-color: #000000;
    width: 202px;
    height: 51px;
}

.btn-colaboradores:hover {
    background-color: whitesmoke;
    color: #00000083;
}

.btn-cliente {
    color: white;
    background-color: #8a1002;
    width: 143px;
    height: 51px;
}

.btn-cliente:hover {
    background-color: #8a100299;
}

.mobile-nav{
    color: #ffffff;
    background-color: #028A49;
    width: 100%;
}

.mobile-nav p {
    margin: 0;
}


/*----------------------- MENU -----------------------*/

.menu{
    cursor: pointer;
}

.conjunto-burguer div {
    width: 30px;
    height: 4px;
    margin: 6px;
    background-color: rgb(0, 0, 0);
    transition: .5s;
}

.menu.active .line1 {
    transform: rotate(45deg) translate(18%, 70%);
}

.menu.active .line2 {
    display: none;
}

.menu.active .line3 {
    transform: rotate(-45deg) translate(10%, -50%);
}

.conteudo-menu {
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.85);
    height: 100vh;
    width: 100%;
    right: 100%;
    max-width: 100vw;
    position: fixed;
    top: 91px;
    display: flex;
    flex-direction: column;
    transition: 0.5;
    box-sizing: border-box;
    padding: 3px 15px;
}

.conteudo-menu.active {
    right: 0;
}

.conteudo-list-menu div a {
    color: #000000;
    text-decoration: none;
}

.line-menu {
    width: 100%;
}

.btn-colaboradores-menu {
    color: white;
    background-color: #000000;
    width: 100%;
    height: 51px;
}

.btn-colaboradores-menu:hover {
    background-color: whitesmoke;
    color: #00000083;
}

.btn-cliente-menu {
    color: white;
    background-color: #8a1002;
    width: 100%;
    height: 51px;
}

.btn-cliente-menu:hover {
    background-color: #8a100299;
}


.text-menu {
    font-weight: bold;
}

.menu-mobile {
    background-color: #ffffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 92px;
}

.logo-menu-mobile {
    height: 78px;
    width: 68px;
}


/*#################################################################### MAIN #######################################################*/

/*----------------------------------------------------- SECTION ULTIMOS LOTES -----------------------------------------------------*/

.section-ultimos-lotes {
    background-image: url(imagens-e-icones/back-img-first-section.png);
    margin-top: 91px;
}

.conteudo-section-ultimos-lotes {
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.img-ult-lotes {
    padding-top: 150px;
}

.ultimos-lotes {
    margin-top: 91px;
    margin-bottom: 175px;
}

.ultimos-lotes h1 {
    color: #FFAE5C;
    font-weight: 800;
    font-size: 33px;
}

.ultimos-lotes h2 {
    font-weight: 400;
}

.ultimos-lotes p {
    font-size: 15px;
    font-weight: 600;
}

.btn-ult-lotes {
    color: #ffffff;
    border-radius: 3px;
    border: 2px solid white;
}

.btn-ult-lotes:hover {
    color: #000000;
    border: 2px solid white;
    background-color: #ffffff;
}

.indicadores-ult-lotes {
    position: relative;
    row-gap: 20px;
    margin-top: 30px;
}

.swiper-pagination-custom {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
}

.swiper-pagination-custom span {
    background-color: #fff;
}

/*---------------------------------------------- SECTION PRÓXIMOS LANÇAMENTOS -----------------------------------------------------*/

.conteudo-section-lancamentos {
    padding: 85px 15px 108px 15px !important;
    box-sizing: border-box !important;
}

.conteudo-section-lancamentos h2 {
    font-size: 30px;
    color: #8A1002;
    font-weight: 300;
}

.conteudo-section-lancamentos h2 strong {
    font-size: 30px;
    font-weight: 500;
}

.conteudo-section-lancamentos hr {
    border: 6px solid #000000;
    opacity: 1;
    margin-bottom: 60px;
}

.tamanho-lote {
    font-size: 14px;
}

.lote-city {
    font-size: 16px;
}

.bairro-city {
    font-size: 14px;
}

.btn-ver-mais-prox-lance {
    color: #fff;
    background-color: #8A1002;
    padding: 10px 20px;
    border-radius: 3px;
}

.btn-ver-mais-prox-lance:hover {
    color: #fff;
    background-color: #8a1002d5;
}

/*----------------------------------------------- SECTION ENCONTRE SEU LOTEAMENTO -------------------------------------------------*/

.conteudo-section-encontre-loteamento {
    margin-top: 121px;
    margin-bottom: 140px;
    box-sizing: border-box !important;
    padding: 0 10px !important;
}

.conteudo-section-encontre-loteamento h2 {
    color: #8A1002;
    font-weight: 300;
}

.conteudo-section-encontre-loteamento h2 strong {
    font-weight: 500;
}

.hr-title {
    border: 6px solid #000000;
    opacity: 1;
    margin-bottom: 60px;
}

.filtro-encontre-lotes label {
    padding: 10px 40px;
    margin-bottom: 16px;
    border-bottom: 1px solid #F1F1F1;
    font-size: 16px;
    color: #767676;
    font-weight: bold;
}

input[type="radio"] {
    display: none;
}
 
.filtro-encontre-lotes label:has(input[type='radio']:checked){
    color: #000000;
    border-bottom: 1px solid black;
}

.hr-filtro-zindex {
    border: 1px solid #F1F1F1;
    bottom: 0;
    z-index: -1;
}

.img-card-obras {
    border-bottom:8px solid #000000;
}

.img-card-obras:hover {
    border-bottom:8px solid #C61400;
}

/*------------------------------------------------------- SECTION 1997 ------------------------------------------------------------*/

.section-1997 {
    color: #ffffff;
    background-color: #0D0D0D;
}

.conteudo-section-1997 {
    padding-top: 186px;
    padding-bottom: 187px;
}

.img-1997 {
    right: 0;
}

.subtitulo-1997 {
    font-size: 30px;
}

.div-paragraph-1997 {
    width: 602px;
    padding: 166px 0 90px 0;
}

.div-1997-text p {
    font-size: 18px;
}

.btn-1997-conheca {
    color: #ffffff;
    background-color: #8a1002;
    border-radius: 3px;
    padding: 15px 10px;
}

.div-1997-btns {
    width: 100%;
}

.btn-1997-conheca:hover {
    background-color: #8a1002;
}

.btn-1997-contato {
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #8A1002;
    border-radius: 3px;
    padding: 15px 10px;
}

.btn-1997-contato:hover {
    background-color: #8A1002;
}

/*------------------------------------------------------- SECTION NOVIDADES DO BLOG -----------------------------------------------*/

.conteudo-section-novidades-blog {
    margin-top: 121px;
    margin-bottom: 140px;
    box-sizing: border-box !important;
    padding: 0 10px !important;
}

.conteudo-section-novidades-blog h2 {
    color: #8A1002;
    font-weight: 300;
}

.conteudo-section-novidades-blog h2 strong {
    font-weight: 500;
}

.conteudo-section-novidades-blog hr {
    border: 6px solid #000000;
    opacity: 1;
    margin-bottom: 60px;
}

.card {
    border: none;
}

.card-img-top {
    border-radius: 0;
}

.img-noticia-data {
    height: 328px;
}

.img-multidao {
    background-image: url(imagens-e-icones/multidao-de-pessoas\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}

.img-casa-lego {
    background-image: url(imagens-e-icones/casa-de-lego.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.data-noticia {
    background-color: #8a1002;
    text-align: center;
    width: 114px;
    color: #ffffff;
}

.dia-da-noticia {
    font-size: 48px;
    font-weight: bold;
}

.mes-ano-noticia {
    font-size: 13;
    font-weight: bold;
}

.card-body h4 {
    font-size: 20px;
    text-align: start;
}

.btn-saiba-mais:hover {
    background-color: #b5b5b5;
}

.div-set-border {
    border: 1px solid black;
    border-radius: 50%;
    height: 65px;
    width: 65px;
}

.div-set-border:hover {
    background-color: #000000;
    color: #ffffff;
} 

.btn-ver-mais-blog  {
    color: #ffffff;
    background-color: #8a1002;
    border-radius: 3px;
    padding: 10px 20px;
}

.btn-ver-mais-blog:hover  {
    color: #ffffff;
    fill: #ffffff;
    background-color: #8a1002b6;
}

.div-set-border:hover svg path {
    stroke: white;
}



/*---------------------------------------------------- SECTION NOVIDADES POR E-MAIL -----------------------------------------------*/

.section-novidades-e-mail {
    color: #ffffff;
    background-color: #0D0D0D;
}

.conteudo-section-novidades-email {
    height: 458px;
}

.line-input {
    border: 6px solid;
}

.inputs-btn input {
    padding: 15px 20px;
    background-color: #0D0D0D;
    border: 1px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
}

.btn-news-email {
    color: #ffffff;
    background-color: #8a1002;
    padding: 15px;
}

.btn-news-email:hover {
    background-color: #8a1002a2;
}


/*############################################################ FO0TER #############################################################*/

.div-icon-location {
    height: 33px;
    width: 33px;
    background-color: #000000;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

footer ul {
    columns: 2;
    list-style: url(imagens-e-icones/icon-style-list-footer.svg);
    font-size: 15px;
}

.atendimento-politicas {
    column-gap: 90px;
}

.div-icon-phone {
    height: 33px;
    width: 33px;
    background-color: #000000;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.politica-privacidade p {
    font-size: 15px;
}

.politica-privacidade p a {
    color: #000000;
}

.icons {
    padding: 17px 15px;
}

.contacts-number {
    background-color: #028A49;
}

.contact-footer {
    width: 100%;
}

.contact-footer p {
    color: #ffffff;
    margin: 0;
}

.space-line-footer {
    color: #ffffff;
    height: 68px;
    border-left: 1px solid;
}

.footer-buttons {
    row-gap: 10px;
}

.footer-break-xl-buttons {
    column-gap: 10px;
}

.btn-colaboradores-footer {
    color: white;
    background-color: #000000;
    width: 202px;
    height: 51px;
}

.btn-colaboradores-footer:hover {
    background-color: whitesmoke;
    color: #000000;
}

.btn-cliente-footer {
    color: white;
    background-color: #8a1002;
    width: 202px;
    height: 51px;
}

.btn-cliente-footer:hover {
    background-color: #ea5c1f;
}

.incorporadora-oxigen p {
    margin: 0;
}

/*###################################################################### CONTATO PAGE #############################################*/

.section-title-contato {
    background-color: #000000;
    margin-top: 91px;
}

.conteudo-section-title-contato {
    display: flex;
    padding: 1px 10px;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    height: 252px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.conteudo-section-title-contato p {
    color: #767676;
}

.conteudo-section-title-contato hr {
    border: 6px solid #8A1002;
    position: absolute;
    width: 100%;
    bottom: -16px;
    opacity: 1;
    left: 0;
}

/*---------------------------------------------------- SECTION INPUTS DE CONTATO --------------------------------------------------*/

.conteudo-section-inputs-contato {
    box-sizing: border-box;
    padding: 50px 15px;
}

.inputs {
    padding: 10px 0;
    border: 1px solid #DADADA;
    border-radius: 3px;
}

.btn-enviar-mensagem {
    color: #ffffff;
    background-color: #8a1002;
    padding: 0 62px;
}

.btn-enviar-mensagem:hover {
    background-color: #8a1002ac;
}

.caixa-texto textarea{
    width: 100%;
    height: 100%;
}

.text-btn p {
    font-size: 14px;
    color: #767676;
}

/*------------------------- SECTION ONDE ESTAMOS ---------------------*/

.conteudo-section-onde-estamos iframe {
    width: 100%;
}

.conteudo-section-onde-estamos h2 {
    font-weight: 300;
    color: #8A1002;
}

.strong-subtitle-onde-estamos {
    font-weight: 500;
}

.conteudo-section-onde-estamos hr {
    border: 6px solid #000000;
    opacity: 1;
}

.infos-contato {
    color: #ffffff;
    background-color: #000000;
    padding: 50px 0;
    margin: 80px 0;
    border-radius: 3px;
}

.div-icon {
    height: 33px;
    width: 33px;
    background-color: #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;
}

.right-whatsapp-page-contact {
    border-radius: 3px;
    padding: 10px 10px;
}


/*#################################################### ERROR PAGE #################################################################*/

.section-error {
    background-color: #000000;
    margin-top: 91px;
}

.conteudo-section-title-erro {
    display: flex;
    padding: 1px 10px;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.links-error {
    color: #767676;
    font-weight: bold;
}

.links-error a{
    color: #767676;
    font-weight: bold;
    text-decoration: none;
}

.conteudo-section-title-erro hr {
    width: 100%;
    border: 8px solid rgba(255, 255, 255, 0.85);
}

.conteudo-section-title-erro p {
    font-size: 22px;
}












