@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-family-01: 'Montserrat';
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: darkgray;
}


/*############################################################ HEADER #############################################################*/

header {
    z-index: 3;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.logo {
    left: 20px;
    top: 20px;
    z-index: 4;
}

nav {
    height: 91px;
    background-color: white;
}

.cabecalho {
    height: 100%;
    column-gap: 131px;
}

.item-list-header {
    cursor: pointer;
    align-self: center;
    font-family: var(--font-family-01);
    padding: 30px;
}

.item-list-header:hover {
    background-color: #F6F6F6;
}

.item-list-header a {
    text-decoration: none;
    color: #000000;
}

.space-line {
    height: 68px;
    border-left: 1px solid;
}

.header-buttons {
    column-gap: 20px;
}

.btn-colaboradores {
    color: white;
    background-color: #000000;
    width: 202px;
    height: 51px;
}

.btn-colaboradores:hover {
    background-color: whitesmoke;
    color: #00000083;
}

.btn-cliente {
    color: white;
    background-color: #8a1002;
    width: 143px;
    height: 51px;
}

.btn-cliente:hover {
    background-color: #8a100299;
}

.mobile-nav {
    color: #ffffff;
    background-color: #028A49;
    width: 100%;
}

.mobile-nav p {
    margin: 0;
}


/*----------------------- MENU -----------------------*/

.menu {
    cursor: pointer;
}

.conjunto-burguer div {
    width: 30px;
    height: 4px;
    margin: 6px;
    background-color: rgb(0, 0, 0);
    transition: .5s;
}

.menu.active .line1 {
    transform: rotate(45deg) translate(18%, 70%);
}

.menu.active .line2 {
    display: none;
}

.menu.active .line3 {
    transform: rotate(-45deg) translate(10%, -50%);
}

.conteudo-menu {
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.85);
    height: 100vh;
    width: 100%;
    right: 100%;
    max-width: 100vw;
    position: fixed;
    top: 91px;
    display: flex;
    flex-direction: column;
    transition: 0.5;
    box-sizing: border-box;
    padding: 3px 15px;
}

.conteudo-menu.active {
    right: 0;
}

.conteudo-list-menu div a {
    color: #000000;
    text-decoration: none;
}

.item-menu {
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

.line-menu {
    margin: 0;
    width: 100%;
}

.btn-colaboradores-menu {
    color: white;
    background-color: #000000;
    width: 100%;
    height: 51px;
}

.btn-colaboradores-menu:hover {
    background-color: whitesmoke;
    color: #00000083;
}

.btn-cliente-menu {
    color: white;
    background-color: #8a1002;
    width: 100%;
    height: 51px;
}

.btn-cliente-menu:hover {
    background-color: #8a100299;
}


.text-menu {
    font-weight: bold;
}

.menu-mobile {
    background-color: #ffffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 92px;
}

.logo-menu-mobile {
    height: 78px;
    width: 68px;
}


/*#################################################################### MAIN ######################################################*/

/*----------------------------------------------------- SECTION ULTIMOS LOTES ----------------------------------------------------*/

.section-ultimos-lotes {
    background-image: url(imagens-e-icones/back-img-first-section.png);
    margin-top: 91px;
}

.conteudo-section-ultimos-lotes {
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.img-ult-lotes {
    padding-top: 150px;
}

.ultimos-lotes {
    margin-top: 91px;
    margin-bottom: 175px;
}

.ultimos-lotes h1 {
    color: #FFAE5C;
    font-weight: 800;
    font-size: 33px;
}

.ultimos-lotes h2 {
    font-weight: 400;
}

.ultimos-lotes p {
    font-size: 15px;
    font-weight: 600;
}

.btn-ult-lotes {
    color: #ffffff;
    border-radius: 3px;
    border: 2px solid white;
}

.btn-ult-lotes:hover {
    color: #000000;
    border: 2px solid white;
    background-color: #ffffff;
}

.indicadores-ult-lotes {
    position: relative;
    row-gap: 20px;
    margin-top: 30px;
}

.swiper-pagination-custom {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
}

.swiper-pagination-custom span {
    background-color: #fff;
}

/*---------------------------------------------- SECTION PRÓXIMOS LANÇAMENTOS ----------------------------------------------------*/

.conteudo-section-lancamentos {
    padding: 85px 15px 108px 15px !important;
    box-sizing: border-box !important;
}

.conteudo-section-lancamentos h2 {
    font-size: 30px;
    color: #8A1002;
    font-weight: 300;
}

.conteudo-section-lancamentos h2 strong {
    font-size: 30px;
    font-weight: 500;
}

.conteudo-section-lancamentos hr {
    border: 6px solid #000000;
    opacity: 1;
    margin-bottom: 60px;
}

.tamanho-lote {
    font-size: 14px;
}

.lote-city {
    font-size: 16px;
}

.bairro-city {
    font-size: 14px;
}

.btn-ver-mais-prox-lance {
    color: #fff;
    background-color: #8A1002;
    padding: 10px 20px;
    border-radius: 3px;
}

.btn-ver-mais-prox-lance:hover {
    color: #fff;
    background: #C61400;
    box-shadow: 0px 5px 20px rgba(198, 20, 0, 0.7);
}

/*----------------------------------------------- SECTION ENCONTRE SEU LOTEAMENTO ------------------------------------------------*/

.conteudo-section-encontre-loteamento {
    margin-top: 121px;
    margin-bottom: 140px;
    box-sizing: border-box !important;
    padding: 0 10px !important;
}

.conteudo-section-encontre-loteamento h2 {
    color: #8A1002;
    font-weight: 300;
}

.conteudo-section-encontre-loteamento h2 strong {
    font-weight: 500;
}

.hr-title {
    border: 6px solid #000000;
    opacity: 1;
    margin-bottom: 60px;
}

.filtro-encontre-lotes div {
    padding: 10px 40px;
    margin-bottom: 16px;
    border-bottom: 1px solid #F1F1F1;
    font-size: 16px;
    color: #767676;
    font-weight: bold;
}

.filtro-encontre-lotes div.active {
    color: #000000;
    border-bottom: 1px solid black;
}

.hr-filtro-zindex {
    border: 1px solid #F1F1F1;
    bottom: 0;
    z-index: -1;
}

.options-filtro {
    cursor: pointer;
}

.img-card-obras {
    border-bottom: 8px solid #000000;
}

.card-encontre-seu-lote:hover {
    transform: scale(1.05);
}

.card-encontre-seu-lote:hover .img-card-obras {
    border-bottom: 8px solid #C61400;
}

.card-encontre-seu-lote:hover .lote-city {
    text-decoration: underline;
}

.card-encontre-seu-lote:hover .bairro-city {
    text-decoration: underline;
}

.card-encontre-seu-lote:hover .card-title {
    text-decoration: underline;
}

.filter-options .card-body {
    padding-left: 0;
}

/*------------------------------------------------------- SECTION 1997 -----------------------------------------------------------*/

.section-1997 {
    color: #ffffff;
    background-color: #0D0D0D;
}

.conteudo-section-1997 {
    padding-top: 186px;
    padding-bottom: 187px;
}

.img-1997 {
    right: 0;
}

.subtitulo-1997 {
    font-size: 30px;
}

.div-paragraph-1997 {
    width: 602px;
    padding: 166px 0 90px 0;
}

.div-1997-text p {
    font-size: 18px;
}

.btn-1997-conheca {
    color: #ffffff;
    background-color: #8a1002;
    border-radius: 3px;
    padding: 15px 10px;
}

.btn-1997-conheca a {
    text-decoration: none;
    color: #ffffff;
}

.div-1997-btns {
    width: 100%;
}

.btn-1997-conheca:hover {
    color: #fff;
    background: #C61400;
    box-shadow: 0px 5px 20px rgba(198, 20, 0, 0.7);
}

.btn-1997-contato {
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #8A1002;
    border-radius: 3px;
    padding: 15px 10px;
}

.btn-1997-contato a {
    text-decoration: none;
    color: #ffffff;
}

.btn-1997-contato:hover {
    border-color: #fff;
}

/*------------------------------------------------------- SECTION NOVIDADES DO BLOG ----------------------------------------------*/

.conteudo-section-novidades-blog {
    margin-top: 121px;
    margin-bottom: 140px;
    box-sizing: border-box !important;
    padding: 0 10px !important;
}

.conteudo-section-novidades-blog h2 {
    color: #8A1002;
    font-weight: 300;
}

.conteudo-section-novidades-blog h2 strong {
    font-weight: 500;
}

.conteudo-section-novidades-blog hr {
    border: 6px solid #000000;
    opacity: 1;
    margin-bottom: 60px;
}

.cards-blog-main-page {
    cursor: pointer;
}

.cards-blog-main-page:hover {
    transform: scale(1.05);
}

.cards-blog-main-page:hover .data-noticia {
    transform: scale(1.05);
    background-color: #C61400;
}

.card {
    border: none;
}

.card-img-top {
    border-radius: 0;
}

.img-noticia-data {
    height: 328px;
}

.img-multidao {
    background-image: url(imagens-e-icones/multidao-de-pessoas\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}

.img-casa-lego {
    background-image: url(imagens-e-icones/casa-de-lego.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.data-noticia {
    background-color: #8a1002;
    text-align: center;
    width: 114px;
    color: #ffffff;
}

.dia-da-noticia {
    font-size: 48px;
    font-weight: bold;
}

.mes-ano-noticia {
    font-size: 13;
    font-weight: bold;
}

.card-body h4 {
    font-size: 20px;
    text-align: start;
}

.btn-saiba-mais:hover {
    background-color: #b5b5b5;
}

.div-set-border {
    border: 1px solid black;
    border-radius: 50%;
    height: 65px;
    width: 65px;
}

.div-set-border:hover {
    background-color: #000000;
    color: #ffffff;
}

.btn-ver-mais-blog {
    color: #ffffff;
    background-color: #8a1002;
    border-radius: 3px;
    padding: 10px 20px;
}

.btn-ver-mais-blog:hover {
    color: #fff;
    background: #C61400;
    box-shadow: 0px 5px 20px rgba(198, 20, 0, 0.7);
}

.div-set-border:hover svg path {
    stroke: white;
}



/*---------------------------------------------------- SECTION NOVIDADES POR E-MAIL -----------------------------------------------*/

.section-novidades-e-mail {
    color: #ffffff;
    background-color: #0D0D0D;
}

.conteudo-section-novidades-email {
    height: 458px;
}

.line-input {
    border: 6px solid;
}

.inputs-btn input {
    padding: 15px 20px;
    background-color: #0D0D0D;
    border: 1px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
}

.btn-news-email {
    color: #ffffff;
    background-color: #8a1002;
    padding: 15px;
}

.btn-news-email:hover {
    background: #C61400;
    box-shadow: 0px 10px 20px rgba(198, 20, 0, 0.7);
}


/*############################################################ FO0TER ############################################################*/

.div-icon-location {
    height: 33px;
    width: 33px;
    background-color: #000000;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

footer ul {
    columns: 2;
    list-style: url(imagens-e-icones/icon-style-list-footer.svg);
    font-size: 15px;
}

.atendimento-politicas {
    column-gap: 90px;
}

.div-icon-phone {
    height: 33px;
    width: 33px;
    background-color: #000000;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.politica-privacidade p {
    font-size: 15px;
}

.politica-privacidade p a {
    color: #000000;
}

.icons {
    cursor: pointer;
    padding: 17px 15px;
}

.icons:hover svg path {
    fill: #767676;
}

.contacts-number {
    background-color: #028A49;
}

.contact-footer {
    width: 100%;
}

.contact-footer p {
    color: #ffffff;
    margin: 0;
}

.space-line-footer {
    color: #ffffff;
    height: 68px;
    border-left: 1px solid;
}

.footer-buttons {
    row-gap: 10px;
}

.footer-break-xl-buttons {
    column-gap: 10px;
}

.btn-colaboradores-footer {
    color: white;
    background-color: #000000;
    width: 202px;
    height: 51px;
}

.btn-colaboradores-footer:hover {
    background-color: whitesmoke;
    color: #000000;
}

.btn-cliente-footer {
    color: white;
    background-color: #8a1002;
    width: 202px;
    height: 51px;
}

.btn-cliente-footer:hover {
    background-color: #ea5c1f;
}

.incorporadora-oxigen p {
    margin: 0;
}

.number-contacts-hover {
    padding: 26px 50px;
    cursor: pointer;
}

.number-contacts-hover:hover {
    background-color: #00ff84c0;
}


/*##################################################################### CONTATO PAGE #############################################*/

.section-title-contato {
    background-color: #000000;
    margin-top: 91px;
}

.conteudo-section-title-contato {
    display: flex;
    padding: 1px 10px;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    height: 252px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.conteudo-section-title-contato p {
    color: #767676;
}

.conteudo-section-title-contato hr {
    border: 6px solid #8A1002;
    position: absolute;
    width: 100%;
    bottom: -16px;
    opacity: 1;
    left: 0;
}

/*---------------------------------------------------- SECTION INPUTS DE CONTATO -------------------------------------------------*/

.conteudo-section-inputs-contato {
    box-sizing: border-box;
    padding: 50px 15px;
}

.inputs {
    padding: 10px 0;
    border: 1px solid #DADADA;
    border-radius: 3px;
}

.btn-enviar-mensagem {
    color: #ffffff;
    background-color: #8a1002;
    padding: 0 62px;
}

.btn-enviar-mensagem:hover {
    background-color: #8a1002ac;
}

.caixa-texto textarea {
    width: 100%;
    height: 100%;
}

.text-btn p {
    font-size: 14px;
    color: #767676;
}

/*------------------------- SECTION ONDE ESTAMOS ---------------------*/

.conteudo-section-onde-estamos iframe {
    width: 100%;
}

.conteudo-section-onde-estamos h2 {
    font-weight: 300;
    color: #8A1002;
}

.strong-subtitle-onde-estamos {
    font-weight: 500;
}

.conteudo-section-onde-estamos hr {
    border: 6px solid #000000;
    opacity: 1;
}

.infos-contato {
    color: #ffffff;
    background-color: #000000;
    padding: 50px 0;
    margin: 80px 0;
    border-radius: 3px;
}

.div-icon {
    height: 33px;
    width: 33px;
    background-color: #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;
}

.right-whatsapp-page-contact {
    border-radius: 3px;
    padding: 10px 10px;
}


/*#################################################### ERROR PAGE ################################################################*/

.section-error {
    background-color: #000000;
    margin-top: 91px;
}

.conteudo-section-title-erro {
    display: flex;
    height: 582px;
    padding: 1px 10px;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.title-link h1 {
    font-size: 48px;
}

.links-error {
    color: #767676;
    font-weight: bold;
}

.links-error a {
    color: #767676;
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
}

.title-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    text-indent: 188px;
}

.conteudo-section-title-erro hr {
    width: 100%;
    border: 8px solid rgba(255, 255, 255, 0.85);
}

.text-btn-not-page {
    display: flex;
    flex-direction: column;
}

.text-not-page {
    font-size: 22px;
    text-align: justify;
}

.btn-volta-pag-home {
    background-color: #8A1002;
    color: #ffffff;
    padding: 15px 25px;
    border-radius: 3px;
}

.btn-volta-pag-home a {
    text-decoration: none;
    color: #fff;
}

.btn-volta-pag-home:hover {
    background-color: #8a1002bf;
}

/* ##################################################### PAGE EMPRESA ############################################################*/


.section-investimento-certo {
    margin-top: 89px;
    margin-bottom: 192px;
}

.conteudo-section-investimento {
    box-sizing: border-box;
    padding: 30px 15px;
}

.conteudo-section-investimento h2 {
    color: #8a1002;
    font-size: 30px;
    font-weight: 300;
}

.conteudo-section-investimento hr {
    border: 7px solid black;
    opacity: 1;
}

.predio-noite-link a {
    color: #8a1002;
    font-weight: bold;
}

.text-img-page-empresa {
    margin-top: 62px;
}

.predio-noite-link {
    width: 542px;
    margin-right: 15px;
    font-size: 18px;
}

.predios-dia {
    width: 542px;
    margin-left: 15px;
    font-size: 18px;
}

.text-icons {
    width: 351px;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    margin: 0 10px;
}

.icons-empresa {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
    font-weight: 600;
    padding: 20px;
    border-bottom: 3px solid black;
}


.section-onde-estamos-empresa-page {
    margin-top: 182px;
}

.cep-oxigen {
    font-size: 22px;
    margin-top: 65px;
}


/*########################################################### EMPREEMDIMENTOS PAGE ###############################################*/

.conteudo-section-categorias {
    padding-top: 50px;
    padding-bottom: 117px;
}

.options-empreendimentos {
    padding: 9px 18px;
    border: 1px solid #000000;
    border-radius: 100px;
    margin: auto 5px;
    font-size: 13px;
}

.section-categorias .filter-options {
    margin-top: 50.64px;
}

.concluidas-obras-empreendimentos {
    gap: 30px;
}

.card-empreendimentos {
    max-width: 352.13px;
}

.options-empreendimentos.active-empreendimentos {
    background-color: #000000;
    color: #fff;
}

.conteudo-section-categorias hr {
    border: 8px solid black;
    opacity: 1;
}

.swiper-icons {
    height: 51px;
    width: 51px;
    border: 1px solid #000000;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-icons:hover {
    background-color: #000000;
    color: #fff;
}


.swiper-icons:hover svg path {
    stroke: white;
}

/*########################################################### BLOG PAGE ##########################################################*/

.conteudo-section-categorias-blog {
    padding-top: 50px;
    padding-bottom: 100px;
}

.options-categorias {
    padding-bottom: 50px;
}

.categoria-blog-option {
    gap: 30px;
}

.cards-blog {
    max-width: 412px;
}

.cards-blog:hover {
    transform: scale(1.05);
}

.section-categorias-blog .filter-pages {
    margin-top: 113px;
}

.options-empreendimentos {
    cursor: pointer;
}


/*#################################################### LOTEAMENTO PAGE ###########################################################*/

.conteudo-section-descricao {
    box-sizing: border-box;
    padding-top: 88px;
    padding-bottom: 92px;
}

.conteudo-section-descricao h2 {
    font-size: 30px;
    font-weight: normal;
    color: #8A1002;
}

.conteudo-section-descricao hr {
    border: 8px solid black;
    opacity: 1;
    margin-top: 29px;
    margin-bottom: 56px;
}

.text-descricao p {
    max-width: 734px;
    font-size: 18px;
}

/*-------------------------------------------------- SECTION TITLE IMAGE --------------------------------------------------------*/

.section-imagem-loteamento-2 {
    width: 100%;
    height: 360px;
    background-image: linear-gradient(to top, transparent, #5b152e85), url(imagens-e-icones/loteamento-main-img-loteamento-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*---------------------------------------------- SECTION 65% OBRAS CONCLUIDAS -------------------------------------------------*/

.conteudo-section-obras-concluidas-icons {
    margin-bottom: 89px;
}

.rectangle-obras-conlcuidas {
    background-color: #000000;
    color: #fff;
    text-align: center;
    height: 77px;
    margin-bottom: 26px;
    box-sizing: border-box;
    padding: 17px 66px;
}

.text-65-obras-concluidas {
    font-size: 14px;
    font-weight: 600;
}

.range-gray {
    background-color: #4A4A4A;
    width: 100%;
    height: 4px;
    border-radius: 100px;
    position: relative;
}

.range-green {
    background-color: #028A49;
    width: 65%;
    height: 100%;
    border-radius: 100px;
    position: relative;
}

.range-green::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    width: 14px;
    height: 14px;
    background-color: #00DD73;
    border-radius: 50%;
}

.option-percent-icon {
    text-align: center;
}

/*----------------------------------------------- SECTION PRÓXIMO DE ALGUM LUGAR ----------------------------------------------*/

.conteudo-section-proximo-lugar {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}

.div-todos-icons {
    background-color: #8A1002;
}

.icons-prox-lugar {
    width: 100%;
    max-width: 420px;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-icons-with-border {
    border-left: 1px solid rgba(255, 255, 255, 0.08);
    border-right: 1px solid rgba(255, 255, 255, 0.08);
}

.icons-prox-lugar .proximidade-lugar {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.icons-prox-lugar .proximidade-distancia {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

/*---------------------------------------- SECTION IMAGENS DA GALERIA ----------------------------------------------------------*/

.conteudo-section-galeria-imagens {
    box-sizing: border-box;
    padding: 126px 15px !important;
    padding-bottom: 0 !important;
}

.conteudo-section-galeria-imagens h2 {
    font-size: 30px;
    font-weight: 300;
    color: #8A1002;
}

.conteudo-section-galeria-imagens h2 strong {
    font-size: 30px;
    font-weight: 600;
    color: #8A1002;
}

.conteudo-section-galeria-imagens hr {
    border: 8px solid black;
    opacity: 1;
}

.lupa-aumentativa {
    background-color: #8A1002;
    height: 65px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 20px;
    bottom: 20px;
}

.imagem-da-galeria {
    cursor: pointer;
}

.imagem-da-galeria:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.imagem-da-galeria:hover .lupa-aumentativa {
    transform: scale(1.05);
    background-color: #C61400;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.overlay img {
    cursor: pointer;
    max-width: 90%;
    max-height: 90%;
    transform: scale(1.5);
    transition: transform 0.3s ease;
}

section.blur {
    filter: blur(5px);
}

body.blur-hidden {
    overflow: hidden;
}

/*------------------------------------------ SECTION FALE COM CORRETOR ------------------------------------------------*/

.conteudo-section-fale-com-corretor {
    box-sizing: border-box;
    margin-top: 162px;
    margin-bottom: 142px;
    padding-right: 15px;
    padding-left: 15px;
}

.conteudo-section-fale-com-corretor h2 {
    font-size: 30px;
    font-weight: 300;
    color: #8A1002;
}

.conteudo-section-fale-com-corretor h2 strong {
    font-size: 30px;
    font-weight: 500;
}

.conteudo-section-fale-com-corretor hr {
    border: 8px solid black;
    opacity: 1;
}

.text-fale-corretor {
    margin: 36px 0;
}


/*############################################## BLOG CASA LEGO PAGE ############################################################*/

/*-------------------------------------------------- SECTION TITLE --------------------------------------------------------------*/

.section-title {
    width: 100%;
    height: 504px;
    background-image: linear-gradient(to top, transparent, #5b152e85), url(imagens-e-icones/casa-lego-blog-page.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 91px;
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    align-items: end;
}

.card-title-absolute {
    background-color: #000000;
    height: 278px;
    width: 764px;
    border-bottom: 9px solid #8A1002;
    column-gap: 57px;
}

.div-data {
    background-color: #8a1002;
    text-align: center;
    width: 114px;
    height: 114px;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 20px;
}

.text-empreendimentos {
    margin-top: 20px;
    row-gap: 23px;
}

.text-empreendimentos .options-empreendimentos {
    color: #808080;
    border-color: #808080;
    width: 212px;
    font-size: 17px;
    text-align: center;
    margin: 0;
}

.paragraph-title {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

.text-empreendimentos p {
    color: #fff;
}

/*----------------------------------------------------- SECTION LINKS BLOG -------------------------------------------------------*/

.section-links-blog {
    margin-top: 32px;
    margin-bottom: 72px;
}

/*------------------------------------------------ SECTION TEXTO PRINCIPAL E LATERAIS --------------------------------------------*/

.section-texto-principal-laterais {
    padding-top: 38px;
}

.links-lego-blog {
    font-size: 17px;
    color: #767676;
}

.links-lego-blog a {
    font-size: 17px;
    color: #767676;
    text-decoration: none;
}

.conteudo-texto-principal h1 {
    font-size: 30px;
}

.conteudo-texto-principal ul {
    margin-left: 66px;
}

aside h2 {
    color: #8A1002;
    font-weight: 400;
}

.subtitulo-aside {
    border-bottom: 8px solid #000000;
    padding: 19px 0;
}

.subtitulo-veja-mais {
    margin-top: 104px;
}

.text-veja-mais {
    margin-top: 25px;
    row-gap: 30px;
}

.conteudo-section-texto-principal-laterais .options-empreendimentos {
    width: fit-content;
    text-align: center;
}


.redes-sociais {
    column-gap: 25px;
}

.esfera-social {
    height: 57px;
    width: 57px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pinterest {
    background-color: #CB2027;
}

#pinterest:hover {
    background-color: #FF2932;
}

#twitter {
    background-color: #03A9F4;
}

#twitter:hover {
    background-color: #36C1FF;
}

#facebook {
    background-color: #1976D2;
}

#facebook:hover {
    background-color: #228EF9;
}

#linkedin {
    background-color: #0077B5;
}

#linkedin:hover {
    background-color: #008AD2;
}

/*---------------------------------------------- INPUTS DEIXE SEU COMENTÁRIO -----------------------------------------------------*/

.subtitulo-comentario {
    border-bottom: 4px solid #000000;
    margin-bottom: 31px;
    font-size: 16px;
    padding: 26px 0;
}

#caixa-de-texto-blog-page {
    height: 191px;
}

.btn-enviar-comentario {
    width: 320px;
}

.text-btn-blog-page {
    margin-top: 100px;
}

/*--------------------------------------------------- COMENTÁRIOS ----------------------------------------------------------------*/

.comentario-publicado {
    display: flex;
    flex-direction: row;
}