@charset "UTF-8";


@media (min-width: 1200px) {}

@media (min-width: 992px) and (max-width: 1199.08px) {
    .cabecalho {
        column-gap: 100px;
    }

    .item-list-header {
        font-size: 14px;
        padding: 10px 20px;
    }

    .btn-colaboradores {
        width: 180px;
        height: 41px;
    }

    .btn-cliente {
        width: 120px;
        height: 41px;
    }


    .div-img-1997 {
        right: 15px;
    }

}

@media (min-width: 768px) and (max-width: 991.08px) {
    .cabecalho {
        column-gap: 100px;
    }

    .conteudo-section-novidades-email h2 {
        text-align: center;
    }

    .conteudo-section-1997 h2 {
        position: relative;
        z-index: 1;
    }

    .img-1997 {
        right: 1%;
    }

}

@media (min-width: 568px) and (max-width: 767.08px) {

    .div-atendimento {
        font-size: 14px;
    }

    .list-infos ul {
        font-size: 13px;
    }

    .conteudo-section-novidades-email h2 {
        text-align: center;
    }

    .conteudo-section-1997 h2 {
        position: relative;
        z-index: 1;
        text-align: center;
    }

    .img-1997 {
        right: 50%;
        transform: translateX(50%);
    }

    .div-1997-btns {
        width: 100%;
    }

    .div-paragraph-1997 {
        width: 100%;
    }

    .div-paragraph-1997 p {
        font-size: 15px;
    }


    .btn-1997-conheca {
        padding: 15px 30px;
    }

    .btn-1997-contato {
        padding: 15px 30px;
    }

}

@media (max-width: 567.08px) {

    .list-infos ul {
        columns: 1;
    }

    .menu-mobile {
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 3;
    }

    .atendimento-politicas {
        row-gap: 10px;
    }

    .redes-sociais-footer {
        width: 100%;
    }

    .btn-colaboradores-footer {
        width: 94vw;
    }

    .btn-cliente-footer {
        width: 94vw;
    }

    .conteudo-section-novidades-email h2 {
        text-align: center;
    }

    .conteudo-section-1997 h2 {
        text-align: center;
    }

    .div-paragraph-1997 {
        width: 100%;
    }

    .div-paragraph-1997 p {
        text-align: center;
        font-size: 15px;
    }

    .conteudo-section-1997 h2 {
        position: relative;
        z-index: 1;
        text-align: center;
    }

    .img-1997 {
        top: 9%;
        right: 50%;
        transform: translateX(50%);
        width: 539px;
        max-width: 92vw;
        height: auto;
    }

    .contacts-number {
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 3;
    }
}