@charset "UTF-8";


@media (min-width: 1200px) {}

@media (min-width: 992px) and (max-width: 1199.08px) {
    .cabecalho {
        column-gap: 100px;
    }

    .item-list-header {
        font-size: 14px;
        padding: 10px 20px;
    }

    .btn-colaboradores {
        width: 180px;
        height: 41px;
    }

    .btn-cliente {
        width: 120px;
        height: 41px;
    }

    .div-img-1997 {
        right: 15px;
    }

}

@media (min-width: 768px) and (max-width: 991.08px) {
    .cabecalho {
        column-gap: 100px;
    }

    .conteudo-section-novidades-email h2 {
        text-align: center;
    }

    .conteudo-section-1997 h2 {
        position: relative;
        z-index: 1;
    }

    .img-1997 {
        right: 1%;
    }

    .img-ult-lotes {
        position: absolute;
        height: 400px;
        left: -170px;
        bottom: 0;
        padding-top: 0;
    }

    .ultimos-lotes {
        margin-bottom: 205px;
    }

    .indicadores-ult-lotes {
        position: absolute;
        left: 20px;
        bottom: 57px;
        z-index: 1;
        column-gap: 20px;
    }

    .swiper-pagination-custom {
        flex-direction: row;
        margin-top: 0;
        margin-left: 23px;
    }


    /*########################################### CONTATO PAGE ##########################################*/

    .btn-enviar-mensagem {
        padding: 20px;
    }

    .caixa-texto {
        height: 120px;
    }

    /*######################################################## EMPREENDIMENTOS PAGE ############################################*/

    .options-empreendimentos {
        font-size: 10px;
    }

    /*########################################################### BLOG PAGE #####################################################*/

    .data-noticia {
        height: 115px;
        width: 90px;
    }

    /*##################################################### BLOG PAGE CASA LEGO ##################################################*/

    .btn-enviar-comentario {
        width: 100%;
    }

    .text-btn-blog-page {
        margin-top: 100px;
    }
}

@media (min-width: 568px) and (max-width: 767.08px) {

    .div-atendimento {
        font-size: 14px;
    }

    .list-infos ul {
        font-size: 13px;
    }

    .conteudo-section-novidades-email h2 {
        text-align: center;
    }

    .conteudo-section-1997 h2 {
        position: relative;
        z-index: 1;
        text-align: center;
    }

    .img-1997 {
        right: 50%;
        transform: translateX(50%);
    }

    .div-1997-btns {
        width: 100%;
    }

    .div-paragraph-1997 {
        width: 100%;
    }

    .div-paragraph-1997 p {
        font-size: 15px;
    }


    .btn-1997-conheca {
        padding: 15px 30px;
    }

    .btn-1997-contato {
        padding: 15px 30px;
    }

    .img-ult-lotes {
        position: absolute;
        width: 360.5px;
        bottom: 0;
        left: -29%;
        height: 370px;
        padding-top: 0;
    }

    .ultimos-lotes {
        margin-bottom: 175px;
    }

    .indicadores-ult-lotes {
        position: absolute;
        left: 20px;
        bottom: 115px;
        z-index: 1;
        column-gap: 20px;
    }

    .indicadores-ult-lotes img {
        height: 53px;
        width: 53px;
    }

    .swiper-pagination-custom {
        flex-direction: row;
        margin-top: 0;
        margin-left: 23px;
    }

    .ultimos-lotes h1 {
        font-size: 30px;
    }

    .ultimos-lotes p {
        font-size: 13px;
    }

    /*########################################### CONTATO PAGE ##########################################*/

    .caixa-texto {
        height: 120px;
    }

    .btn-enviar-mensagem {
        padding: 20px;
    }

    .atendimento-central-contact p {
        font-size: 14px;
    }

    .right-whatsapp-page-contact p {
        font-size: 14px;
    }

    /*################################################# ERROR PAGE ######################################################*/

    .title-link {
        text-indent: 0;
        align-self: center;
    }

    /*################################################ PAGE EMPRESA #####################################################*/

    .conteudo-section-investimento h2 {
        font-size: 22px;
    }

    .text-img-page-empresa {
        align-items: center;
    }

    .predio-noite-link {
        margin-right: 0;
    }

    .predios-dia {
        margin-left: 0;
    }

    .text-icons p {
        text-align: center;
    }

    /*#################################################### EMPREENDIMENTOS PAGE ###################################################*/

    .options-empreendimentos {
        margin: 0;
        text-align: center;
    }

    .concluidas-obras-empreendimentos {
        gap: 45px;
        text-align: center;
    }

    .concluidas-obras-empreendimentos .card-body {
        padding-left: 16px;
    }

    .concluidas-obras-empreendimentos h4 {
        text-align: center;
    }

    /*############################################################ BLOG PAGE ######################################################*/

    .cards-blog .card-title {
        font-size: 18px;
        text-align: center;
    }

    .cards-blog .card-text {
        font-size: 16px;
        text-align: center;
    }

    /*############################################################ LOTEAMENTO 2 ##################################################*/

    .text-descricao p {
        text-align: center;
        font-size: 16px;
    }

    .div-icons-with-border {
        border-top: 1px solid rgba(255, 255, 255, 0.08);
        border-bottom: 1px solid rgba(255, 255, 255, 0.08);
        border-left: none;
        border-right: none;
    }

    /*######################################################### BLOG PAGE CASA LEGO ###############################################*/

    .text-btn-blog-page {
        margin-top: 100px;
    }

    .btn-enviar-comentario {
        width: 100%;
    }

    .text-principal-centro ul {
        margin-left: 10px;
    }
}

@media (max-width: 567.08px) {

    .list-infos ul {
        columns: 1;
    }

    .menu-mobile {
        height: 91px;
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 4;
        box-shadow: 0 0 10px #000000;
    }

    .atendimento-politicas {
        row-gap: 10px;
    }

    .redes-sociais-footer {
        width: 100%;
    }

    .btn-colaboradores-footer {
        width: 94vw;
    }

    .btn-cliente-footer {
        width: 94vw;
    }

    .img-ult-lotes {
        padding-top: 9px;
        height: 212px;
    }

    .ultimos-lotes {
        margin-top: 30px;
        margin-bottom: 87px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        box-sizing: border-box;
        padding: 0 15px;
    }

    .ultimos-lotes h2 {
        font-size: 28px;
    }

    .btn-ult-lotes {
        width: 100%;
    }

    .indicadores-ult-lotes {
        position: absolute;
        left: 0;
        bottom: 20px;
        margin: 0;
        column-gap: 20px;
        z-index: 1;
        width: 100%;
        justify-content: center;
    }

    .swiper-pagination-custom {
        display: none;
    }

    .conteudo-section-lancamentos .swiper-wrapper .swiper-slide .card .card-body {
        padding-left: 0;
    }

    .tamanho-lote {
        font-size: 14px;
        font-weight: bold;
    }

    .conteudo-section-lancamentos h4 {
        font-size: 14px;
    }

    .lote-city {
        font-size: 12px;
    }

    .bairro-city {
        font-size: 12px;
    }

    .btn-ver-mais-prox-lance {
        width: 100%;
    }

    .hr-title {
        margin-bottom: 0;
    }

    .filtro-encontre-lotes div {
        width: 100%;
        margin-bottom: 0;
        text-align: center;
    }

    .filtro-encontre-lotes div.active {
        background-color: #F1F1F1;
    }

    .filter-options {
        margin-top: 40px;
    }

    .conteudo-section-encontre-loteamento .filter-options .card-body h4 {
        font-size: 16px;
    }

    .conteudo-section-novidades-email h2 {
        text-align: center;
    }

    .conteudo-section-1997 h2 {
        text-align: center;
    }

    .div-paragraph-1997 {
        width: 100%;
    }

    .div-paragraph-1997 p {
        text-align: center;
        font-size: 15px;
    }

    .conteudo-section-1997 h2 {
        position: relative;
        z-index: 1;
        text-align: center;
    }

    .img-1997 {
        top: 9%;
        right: 50%;
        transform: translateX(50%);
        width: 539px;
        max-width: 92vw;
        height: auto;
    }

    .contacts-number {
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 3;
    }

    .btn-ver-mais-blog {
        width: 100%;
    }

    /*########################################### CONTATO PAGE ##########################################*/

    .caixa-texto {
        height: 120px;
    }

    .text-btn p {
        text-align: center;
    }

    .btn-enviar-mensagem {
        padding: 20px;
    }

    /*################################################### ERROR PAGE #############################################################*/

    .title-link {
        text-indent: 0;
        align-self: center;
    }

    .text-not-page {
        font-size: 16px;
        text-align: center;
    }

    /*####################################################### PAGE EMPRESA ########################################################*/

    .conteudo-section-investimento h2 {
        font-size: 24px;
        text-align: center;
    }

    .text-img-page-empresa {
        align-items: center;
    }

    .predio-noite-link {
        width: auto;
        margin-right: 0;
        font-size: 15px;
        text-align: center;
    }

    .predios-dia {
        width: auto;
        margin-left: 0;
        font-size: 15px;
        text-align: center;
    }

    .text-icons {
        width: auto;
        text-align: center;
    }

    /*################################################ EMPREENDIMENTOS PAGE #######################################################*/
    .options-empreendimentos {
        margin: 0;
        text-align: center;
    }

    .concluidas-obras-empreendimentos {
        gap: 45px;
        text-align: center;
    }

    .concluidas-obras-empreendimentos .card-body {
        padding-left: 0;
        padding-right: 0;
    }

    .concluidas-obras-empreendimentos h4 {
        text-align: center;
        font-size: 14px;
        font-weight: 500;
    }

    .concluidas-obras-empreendimentos .tamanho-lote {
        font-weight: 400;
    }

    /*############################################################## BLOG PAGE ####################################################*/

    .cards-blog .card-title {
        font-size: 16px;
        text-align: center;
    }

    .cards-blog .card-text {
        font-size: 13px;
        text-align: center;
    }

    /*######################################################### LOTEAMENTO 2 #####################################################*/

    .text-descricao p {
        text-align: center;
        font-size: 16px;
    }

    .text-fale-corretor {
        text-align: center;
    }

    .div-icons-with-border {
        border-top: 1px solid rgba(255, 255, 255, 0.08);
        border-bottom: 1px solid rgba(255, 255, 255, 0.08);
        border-left: none;
        border-right: none;
    }

    .icons-prox-lugar {
        padding: 70px 0;
    }

    .icons-percent {
        row-gap: 10px;
    }

    .option-percent-icon {
        font-size: 14px;
    }

    .rectangle-obras-conlcuidas {
        padding: 10px;
    }

    /*######################################################### BLOG CASA LEGO PAGE ##############################################*/

    /*---------------------------------------------------- SECTION TITLE ---------------------------------------------------------*/

    .section-title {
        padding: 0;
    }

    .card-title-absolute {
        height: 100%;
        align-items: center;
        text-align: center;
    }

    .text-empreendimentos {
        row-gap: 65px;
    }

    .text-empreendimentos .options-empreendimentos {
        margin: auto;
    }

    .text-btn-blog-page {
        margin-top: 100px;
    }
    
    .btn-enviar-comentario {
        width: 100%;
    }

    .text-principal-centro h1 {
        font-size: 20px
    }

    .text-principal-centro p {
        font-size: 14px;
    }

    .text-principal-centro ul {
        font-size: 14px;
        margin-left: 0;
    }

    .section-links-blog {
        margin-bottom: 40px;
    }

    .links-lego-blog p {
        font-size: 12px;
    }

    .links-lego-blog a {
        font-size: 12px;
    }

    .img-perfil {
        max-width: 78px;
        max-height: 78px;
    }

    .redes-sociais {
        justify-content: center;
    }
}


@media (max-width: 424px) {

    .indicadores-ult-lotes {
        position: absolute;
        left: 0;
        bottom: -10px;
        margin: 0 auto;
        column-gap: 20px;
        z-index: 1;
        width: 100%;
        justify-content: center;
    }

}