@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ESTILOS GERAIS */
* {
    padding: 0px;
    margin: 0px;
    font-family: "istok web";
    color: #ffffff;
}

body {
    background-color: #706EF4;
    overflow-x: hidden;
}

/* HEADER */
header {
    background-image: linear-gradient(to bottom, #1e1e428d, #1e1e4200);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}

header nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    margin: 60px 40px;
    order: 1;
}

header nav ul {
    display: flex;
    margin: 20px 25px;
    order: 2;
    font-weight: bold;
}


header nav ul li {
    display: inline-flex;
    margin: 20px;
}

li a {
    color: #ffffff;
    text-decoration: none;
}

li:hover {
    text-decoration: underline;

}

.lupa {
    margin: 20px 20px 20px 2px;
    order: 3;
    cursor: pointer;
}

.menu-burguer {
    display: none;
    width: 120px;
    height: 55px;
    margin: 40px auto;
}

.menu-mobile {
    display: none;
    width: 42px;
    height: 30px;
    margin: 30px;
}

h1 {
    display: flex;
    margin: 30px 0;
    font-size: 50px;
    font-weight: bold;
}

.logo-mobile {
    display: none;
}

/* SEÇÃO - BANNER */
.section-banner {
    background-image: url(img/banner.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100vh;
}

.section-banner .content-wrapper {
    width: 632px;
    max-width: 100%;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0;
    width: 100%;
}

.card-item {
    display: flex;
    background-color: #000000;
    padding: 15px;
    border-radius: 3px;
    text-align: left;
    min-height: 81px;
    align-items: center;
    cursor: pointer;
}

.mais-informacoes {
    margin: 0;
    margin-top: 30px;
}

.ver-mais {
    font-weight: bold;
    padding: 0;
}

.ver-mais a {
    color: #ffffff;
    text-decoration: none;
}

.ver-mais a:hover {
    text-decoration: underline;
}

.duvidas {
    background-color: #000000;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 69px;
}

.icone {
    margin-right: 30px;
}

/* SEÇÃO REFRIGERANTES */
.section-refrigerante {
    display: flex;
    background-color: #F1F1F1;
    width: 100%;
    height: 406.86px;
    justify-content: space-between;
    align-items: center;
}

.paragrafo-pepsi {
    margin-left: 111px;
}

.paragrafo-pepsi p {
    color: #000000;
    text-align: left;
    margin: 0;
    font-size: 32px;
    height: 180px;
    width: 475px;
    word-wrap: break-word;
}

.refrigerantes {
    display: flex;
    align-items: center;
    margin-right: 111px;

}

.pepsi-img {
    width: 250px;
    height: 99px;
}

.coca-cola-img-mobile {
    display: none;

}

.pepsi-img-mobile {
    display: none;
}

/* SEÇÃO LOREM IPSUM */
.section-lorem-ipsum {
    display: flex;
    background-color: #ffffff;
    color: #000000;
    flex-wrap: wrap;
}

.title-lorem {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 120px;
}

.title-lorem h2 {
    color: rgb(0, 0, 0);

}

.title-lorem-002 {
    display: none;
    color: rgb(0, 0, 0);

}

h2 {
    font-weight: bold;
    font-size: 60px;
    margin: 0;
}

.section-lorem-ipsum p {
    color: #858585;
    font-size: 18px;
    margin: 0;
}

.elementos-lorem {
    display: flex;
    margin-top: 100px;
}

.img-moça-notebook {
    display: flex;
}

.lorem-ipsum-direita {
    box-sizing: border-box;
}

.buttons {
    margin-bottom: 33px;
}

.button-2023 {
    border-radius: 50px;
    padding: 10px 30px;
    background-color: #706EF4;
    border: 5px #706EF4;
    font-weight: bold;
}

.button-anos {
    color: #706EF4;
    background-color: #ffffff;
    border: 2px solid #706EF4;
    font-weight: bold;
    border-radius: 50px;
    padding: 10px 30px;
    margin-left: 33px;
}

.lista-lorem-ipsum {
    margin-top: 90px;
}

.lista-lorem-ipsum ul {
    columns: 2;
}

.lista-lorem-ipsum ul li {
    list-style: url(img/icone-lorem-ipsum.svg);
    font-size: 20px;
    cursor: pointer;
    width: 216px;
}

sup {
    color: #000000;
    margin-left: 5px;
}

hr {
    height: 4px;
    width: 240px;
    color: #706EF4;
    border: 3px solid #706EF4;
    margin: 0.6rem 0px 0.6rem -25px;
    opacity: 3.25;
    cursor: pointer;
}

.icone-ver-mais-section-lorem {
    margin-top: 85px;
}

a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

/* SEÇÃO VIDEOS */

.section-videos {
    background-color: #ffffff;
    padding-top: 100px;
}

.section-videos h2 {
    color: #000000;
    display: flex;
    justify-content: center;
}

.videos {
    display: flex;
    justify-content: center;
    padding-top: 47px;
    row-gap: 30px;
}

.card-img-top {
    cursor: pointer;
}

.card-body {
    background-color: #706EF4;
    border-radius: 3px;
}

.card-body p {
    color: #ffffff;
}

.ver-mais-videos {
    display: flex;
    justify-content: flex-start;
    padding-top: 62px;
    padding-bottom: 80px;
}

/* SEÇÃO FOOTER  */
footer {
    background-color: #000000;
}

.footer-logo-medium-responsiva {
    display: none;
    padding-top: 100px;
}

.conteudo-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 100px;
}

.lista-footer ul li h3 {
    text-decoration: none;
    font-size: 18px;
}

.enderecos h3 {
    font-size: 18px;
}

.lista-footer ul li {
    margin: 5px 0;
}

.lista-pointer {
    cursor: pointer;
}

.visitar-medium-footer {
    background-color: #706EF4;
    padding: 20px 40px;
    border-radius: 3px;
    font-weight: bold;
    margin-top: 50px;
}

.svg-redes-sociais {
    margin: 5px 30px 5px 0px;
    cursor: pointer;
}

.fim-footer {
    display: flex;
    justify-content: space-around;
}

.oxigen {
    text-align: center;
}

.oxigen a {
    color: #ffffff;
    text-align: center;
}

.oxigen a:hover {
    text-decoration: underline;
}

.cursor-img-oxigen {
    cursor: pointer;
}

.cursor-img-oxigen:hover {
    text-decoration: underline;
}

.politicas {
    color: #706EF4;
    text-align: center;
}

.politicas a {
    color: #706EF4;
    text-align: center;
}

.politicas a:hover {
    text-decoration: underline;
}






/* @MEDIA (MIN: 1200PX) */
@media (min-width: 1200px) {
    .duvidas {
        width: 299px;
    }
}

/* @media (min-width: 993px) and (max-width: 1200px)  */
@media (min-width: 993px) and (max-width: 1200px) {

    header {
        width: 100%;
    }

    .section-banner {
        width: 100%;
    }

    .section-refrigerante {
        width: 100%;
    }

    .duvidas {
        width: 299px;
    }

    .paragrafo-pepsi {
        margin-left: 30px;
    }

    .refrigerantes {
        margin-right: 30px;
    }

    .coca-cola-img {
        width: 198.8px;
        height: 116.63;
    }

    .pepsi-img {
        width: 250px;
        height: 92px;
    }

    .lista-lorem-ipsum ul {
        columns: 1;
    }

    .lista-lorem-ipsum ul li {
        margin-top: 30px;
    }

    .title-lorem-002 {
        display: none;
    }

    .lista-lorem-esconde {
        display: none;
    }


}


/* @media (min-width: 768px) */
@media (min-width: 768px) {
    .card-grid div {
        width: calc(50% - 15px);
    }
}

/* @media only screen and (min-width: 768px) and (max-width: 992px) */
@media only screen and (min-width: 768px) and (max-width: 992px) {

    .section-banner {
        background-image: url(img/banner.png);
    }

    .logo {
        margin-top: 20px;
        order: 2;
    }

    header nav ul {
        display: none;
        order: 0;
    }

    .lupa {
        margin: 20px;
        order: 3;
    }

    .menu-burguer {
        display: flex;
        margin: 20px;
        order: 1;
    }

    h1 {
        margin: 30px 30px;
        font-size: 50px;
    }

    .duvidas {
        margin-left: 69px;
        width: 299px;
    }

    .section-refrigerante {
        margin-top: 7px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .paragrafo-pepsi {
        margin: 0px;
    }

    .paragrafo-pepsi p {
        text-align: center;
    }

    .refrigerantes {
        margin: 0px;
    }

    .elementos-lorem {
        flex-wrap: wrap;
    }

    .lorem-ipsum-direita {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
    }

    .img-moça-notebook {
        display: flex;
        margin: auto;
        padding-bottom: 30px;
    }

    .title-lorem {
        display: none;
    }

    .title-lorem-002 {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

    .lista-lorem-ipsum ul {
        columns: 3;
        margin-left: 10px;
        gap: 40px;
    }

    .lista-lorem-ipsum {
        margin: auto;
    }

    .buttons {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .icone-ver-mais-section-lorem {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .card-escondido {
        display: none;
    }

    .ver-mais-videos {
        padding-left: 0;
        justify-content: center;
    }

    .ver-mais-videos {
        padding-top: 50px;
    }

    .footer-logo-medium-responsiva {
        display: flex;
        justify-content: center;
    }

    .footer-logo-medium {
        display: none;
    }

    .fim-footer {
        flex-wrap: wrap;
    }

}

/* @media (min-width: 768px) and (max-width: 785px) */
@media (min-width: 768px) and (max-width: 785px) {
    .lista-lorem-ipsum {
        margin-left: -15px;
    }
}

/* @media only screen and (min-width: 576px) and (max-width: 767.98px) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {

    .section-banner {
        background-image: url(img/banner.png);
    }

    header nav ul {
        display: none;
    }

    .logo {
        margin-top: 20px;
        order: 2;
    }

    .lupa {
        margin: 20px;
        order: 3;
    }


    .menu-burguer {
        display: flex;
        order: 1;
        margin: 20px;
    }

    .conteudo-banner {
        margin-top: 35px;
    }

    h1 {
        margin: 70px 30px;
        font-size: 50px;
    }

    .mais-informacoes {
        margin-top: 20px;
    }

    .duvidas {
        width: 263.33px;
        height: 46px;
        margin-left: 30px;

    }

    .section-refrigerante {
        margin-top: 7px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .paragrafo-pepsi {
        margin: 0px;
    }

    .paragrafo-pepsi p {
        text-align: center;
    }

    .refrigerantes {
        margin: 0px;
    }

    .elementos-lorem {
        flex-wrap: wrap;
    }

    .lorem-ipsum-direita {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
    }

    .img-moça-notebook {
        display: flex;
        margin: auto;
        padding-bottom: 30px;
    }

    .title-lorem {
        display: none;
    }

    .title-lorem-002 {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

    .lista-lorem-ipsum ul {
        columns: 1;
    }

    .lista-lorem-ipsum {
        margin: auto;
    }

    .buttons {
        display: flex;
        justify-content: center;
        margin-top: 24px;
    }

    .icone-ver-mais-section-lorem {
        display: none;
    }

    .lorem-esconde-mobile {
        display: none;
    }

    .card-escondido {
        display: none;
    }

    .ver-mais-videos {
        padding-top: 30px;
    }

    .footer-logo-medium-responsiva {
        display: flex;
        justify-content: center;
    }

    .conteudo-footer {
        padding: 30px;
    }

    .footer-logo-medium {
        display: none;
    }

    .fim-footer {
        flex-wrap: wrap;
    }

    /* 
    .footer-logo-medium-responsiva{
        display: flex;
        justify-content: center;
    }

    .footer-logo-medium{
        display: none;
    }

    .conteudo-footer{
        flex-direction: column;
        padding: 100px 0px;
    }

    .fim-footer{
        flex-direction: column;
    } */

}


/* @media only screen and (max-width: 575px) */
@media only screen and (max-width: 575.98px) {

    .section-banner {
        background-image: url(img/banner-mobile.png);
        width: 100%;
        /* background-image: linear-gradient(to bottom, #1e1e4200, #1e1e4200 ); */
    }

    header {
        width: 100%;
    }

    header nav {
        background-color: #000000;
    }

    .logo {
        display: none;
    }

    header nav ul {
        display: none;
    }

    .lupa {
        margin: 20px;
        order: 3;
    }

    .menu-burguer {
        display: none;
    }

    .menu-mobile {
        display: flex;
        order: 1;
    }

    h1 {
        justify-content: center;
        margin: 30px 0px;
        font-size: 30px;
        text-align: center;
    }

    .logo-mobile {
        display: flex;
        justify-content: center;
        padding-top: 130px;
    }

    .card-grid {
        gap: 15px;
    }

    .card-item-escondido {
        display: none;
    }

    .card-item {
        justify-content: center;
    }

    .mais-informacoes {
        margin-top: 0;
    }

    .ver-mais {
        margin-top: 10px;
    }

    .duvidas {
        height: 46px;
        margin-left: 0;
    }

    .paragrafo-pepsi {
        text-align: center;
    }

    .section-refrigerante {
        margin-top: 7px;
        width: 100%;
        height: 362px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .paragrafo-pepsi {
        margin: 0px;
    }

    .paragrafo-pepsi p {
        height: 25px;
        width: 465px;
        font-size: 24px;
        text-align: center;
    }

    .refrigerantes {
        margin: 0px;
    }

    .coca-cola-img {
        display: none;
    }

    .pepsi-img {
        display: none;
    }

    .coca-cola-img-mobile {
        display: flex;

    }

    .pepsi-img-mobile {
        display: flex;
    }

    .title-lorem {
        display: none;
    }

    .elementos-lorem {
        flex-wrap: wrap;
    }

    .lorem-ipsum-direita {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
    }

    .img-moça-notebook {
        display: flex;
        margin: auto;
        padding-bottom: 30px;
    }

    .title-lorem {
        display: none;
    }

    .title-lorem-002 {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

    .title-lorem-002 h2 {
        font-size: 32px;

    }

    .title-lorem-002 p {
        text-align: center;
    }

    .lista-lorem-ipsum ul {
        columns: 1;
    }

    .lista-lorem-ipsum {
        margin: auto;
    }

    .buttons {
        display: flex;
        justify-content: center;
        margin-top: 24px;
    }

    .button-2023 {
        padding: 10px 20px;
    }

    .button-anos {
        padding: 10px 20px;
    }

    .icone-ver-mais-section-lorem {
        display: none;
    }

    .lorem-esconde-mobile {
        display: none;
    }

    .card-escondido {
        display: none;
    }

    .card-text {
        text-align: center;
    }

    .ver-mais-videos {
        padding-top: 30px;
    }

    .footer-logo-medium-responsiva {
        display: flex;
        justify-content: center;
    }

    .footer-logo-medium {
        display: none;
    }

    .conteudo-footer {
        flex-direction: column;
        padding: 100px 0px;
    }

    .visitar-medium-footer {
        margin: 50px 0px 0px 20px;
    }

    .fim-footer {
        flex-direction: column;
    }


}

@media only screen and (max-width: 460px) {

    .paragrafo-pepsi p {
        width: 290px;
        font-size: 22px;
    }

}