@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-family-01: 'Poppins';
}

body {
    font-family: var(--font-family-01);
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: rgb(209, 209, 209);
}

body::-webkit-scrollbar-thumb {
    background-color: #848484;
    border: 3px solid rgb(209, 209, 209);
}

/*############################## HEADER #####################################*/

.section-nav-bar {
    background-color: #fff;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.10);
}

.conteudo-section-nav-bar {
    height: fit-content;
}

.lista-nav-bar {
    margin: 0;
    column-gap: 3vw;
}

.lista-nav-bar a {
    text-decoration: none;
    color: #353597;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    font-weight: 500;
}

.nav-ancor {
    padding: 31px 4px;
}

.nav-ancor:hover {
    border-bottom: 4px solid #FF7C1E;
}

.busca-language {
    font-size: 13px;
    color: #353597;
    column-gap: 3vw;
}

.icon-lupa-header {
    cursor: pointer;
}

/*----------------------------- MENU ----------------------------------------*/

.menu {
    cursor: pointer;
}

.menu::after {
    content: ' Menu';
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    color: #353597;
}

.conjunto-burguer div {
    width: 43px;
    height: 4px;
    margin: 6px;
    background-color: #353597;
    transition: .5s;
}

.menu.active .line1 {
    transform: rotate(45deg) translate(14%, 70%);
}

.menu.active .line2 {
    display: none;
}

.menu.active .line3 {
    transform: rotate(-45deg) translate(10%, -50%);
}

.conteudo-menu {
    z-index: 10000000000;
    display: flex;
    background-color: #f2f2f2;
    height: calc(100% - 95px);
    width: 0;
    overflow: hidden;
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    flex-direction: column;
    box-sizing: border-box;
    padding: 3px 15px;
    transition: .5s ease;
}

.conteudo-menu.active {
    width: 100%;
    overflow: auto;
    opacity: 1;
}

body.active-overflow {
    overflow: hidden;
}

.item-list-menu {
    display: flex;
    max-width: 290px;
    width: 100%;
    padding: 5px 0;
    height: 50px;
}

.nav-ancor-menu {
    text-align: center;
    font-size: 18px;
    width: 100%;
    padding: 6px 0;
    color: #353597;
    text-decoration: none;
}

.conteudo-menu a:hover {
    border-bottom: 4px solid #FF7C1E;
}

.conteudo-menu hr {
    border: 1px solid #756e6e83;
}

.busca-language-gap {
    margin-top: 10px;
    column-gap: 127px;
}

.social-media-menu {
    margin-top: 58px;
}

/* SECTION - BUSCA */

.section-busca {
    background-color: rgba(255, 255, 255, 0.85);
    width: 0;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    opacity: 0;
    right: 0;
    top: 0;
}

.section-busca.active {
    overflow: auto;
    opacity: 0;
    width: 100%;
}

.div-conjunto-busca {
    position: relative;
    max-width: 736px;
    width: 100%;
    margin-bottom: 19px;
}

.fechar-busca {
    height: 40px;
    width: 40px;
    position: absolute;
    top: -60px;
    right: -31px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.conteudo-fechar-busca {
    width: 28px;
    display: inline-flex;
}

.conteudo-fechar-busca div {
    height: 25.46px;
    width: 2px;
    background-color: #756E6E;
}

.line-x-1 {
    transform: rotate(45deg) translate(100%, 0%);
}

.line-x-2 {
    transform: rotate(-45deg) translate(-75%, 5%);
}

.input-de-busca {
    width: 100%;
    height: 67px;
    border-radius: 3px;
    border: 2px solid #756E6E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 7px;
}

.input-de-busca input {
    height: 56px;
    border: none;
    max-width: 415px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    box-sizing: border-box;
    padding-left: 20px;
    outline: 0;
}

.btn-buscar-site {
    max-width: 297px;
    width: 100%;
    height: 57px;
    background-color: #FF7C1E;
    border: none;
    border-radius: 3px;
}

.btn-buscar-site a {
    text-decoration: none;
    color: #fff;
    display: flex;
    column-gap: 13px;
    justify-content: center;
    align-items: center;
}

.btn-buscar-site svg path {
    stroke: white;
}

.btn-buscar-site circle {
    stroke: #fff;
}

/*############################### MAIN ######################################*/

/* SECTION - SOCIAL MEDIA */

.section-social-media {
    height: 182px;
    width: 49px;
    background-color: rgba(255, 255, 255, 0.90);
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.conteudo-section-social-media svg path {
    stroke: #353597;
}

.conteudo-section-social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo-section-social-media hr {
    color: #353597;
    width: 29px;
    height: 0.7px;
}

/* SECTION - SOLUÇÃO DE MOBILIDADE */

.swiper-card {
    background-image: url(../imagens/img-swiper-mobilidade.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 46%;
    height: 684px;
    display: flex;
}

.navigation-pagination {
    top: calc(95px + 75px);
    left: 79px;
    max-height: 417px;
}

.title-banner {
    width: fit-content;
    height: fit-content;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    top: 235px;
}

.title-banner h1 {
    font-size: 64px;
    line-height: 72px;
    font-weight: lighter;
    background-color: #353597d2;
    color: #fff;
    font-weight: 900;
    margin: 0;
    margin-bottom: 14px;
    max-height: 64px;
    height: 100%;
}

.text-h1 {
    width: fit-content;
    font-size: 59px;
    line-height: 72px;
    font-weight: lighter;
    background-color: #353597d2;
    color: #fff;
    font-weight: 200;
    margin: 0;
    margin-bottom: 4px;
    max-height: 59px;
    position: relative;
}

.subtitle-text-banner {
    color: #353597;
    background-color: rgba(167, 175, 178, 0.80);
    font-size: 19px;
    line-height: 28px;
    font-weight: 500;
    margin: 0;
    max-height: 26px;
    width: fit-content;
}

#subtitle-banner-up {
    margin-bottom: 3px;
}

#space-btn-portfolio {
    margin-bottom: 24px;
}

.btn-conheca-portfolio {
    max-width: 370px;
    width: 100%;
}

.swiper-pagination-custom {
    max-height: 272px;
    height: 100%;
}

.swiper-pagination-custom span {
    border: 2px solid #fff !important;
    height: 8px !important;
    width: 8px !important;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #fff !important;
}

.down-page {
    cursor: pointer;
    position: absolute;
    height: 51px;
    width: 51px;
    border-radius: 50%;
    background-color: #FF7C1E;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 103px;
    right: 31px;
    z-index: 1;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}

.down-arrow {
    transform: rotate(180deg);
}

/* SECTION - QUEM SOMOS */

.section-quem-somos {
    padding: 30px;
}

.bg-image-quem-somos {
    background-image: linear-gradient(to right, #4848C6, transparent), url(../imagens/trem.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.conteudo-section-quem-somos h2 {
    color: #fff;
    font-size: 48px;
    line-height: 44px;
    font-weight: 200;
}

.conteudo-section-quem-somos strong {
    font-weight: 900;
}

.conteudo-section-quem-somos p {
    font-size: 16px;
    letter-spacing: 0.016px;
    color: #fff;
}

.text-title-btn {
    padding: 86px 0 98px 80px;
}

.text-quem-somos {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    max-width: 512px;
    width: 100%;
}

.btn-conheca-trenzao {
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    color: #fff;
    max-width: 432px;
    width: 100%;
    height: 57px;
    background-color: #FF7C1E;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
    margin-top: 27px;
}

/* SECTION - PRODUTOS E SERVIÇOS */

.section-produtos-servicos {
    padding: 97px 0 129px 0;
}

.conteudo-section-produtos-servicos h2 {
    font-size: 48px;
    line-height: 44px;
    color: #353597;
    font-weight: 200;
    margin-bottom: 27px;
}

.conteudo-section-produtos-servicos strong {
    font-weight: 900;
}

.title-produtos-servicos {
    padding-left: 125px;
}

.text-normal-produtos-servicos {
    color: #756E6E;
    font-weight: 400;
    letter-spacing: 0.016px;
    font-size: 16px;
}

.text-negrito-produtos-servicos {
    color: #756E6E;
    letter-spacing: 0.016px;
    font-size: 16px;
    font-weight: 600;
}

.btn-produtos-servicos {
    justify-content: center;
    align-items: center;
    color: #fff;
    max-width: 352px;
    width: 100%;
    height: 57px;
    background-color: #FF7C1E;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
    margin-top: 46px;
    column-gap: 15px;
}

.conteudo-swiper-produtos-servicos {
    row-gap: 32px;
}

.swiper-shadow {
    width: fit-content !important;
}

.swiper-card-produtos-servicos {
    height: 596px;
    width: 352px;
    display: flex;
    align-items: end;
}

/* .swiper-card-produtos-servicos::after {
    z-index: -1;
    content: '';
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.30);
} */

.text-btn-cards-produtos-servicos {
    width: 100%;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.btn-card-swiper-produtos-servicos {
    background-color: #FF7C1E;
    height: 66px;
    width: 66px;
    border: none;
}

#card-vagoes {
    background-image: url(../imagens/card-vagoes-produtod-servicos.png);
}

.btns-swipers-produtos-servicos {
    column-gap: 23px;
}

.btns-swipers-customs-produtos-servicos {
    width: 55px;
    height: 55px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns-swipers-produtos-servicos svg path {
    stroke: black;
}

/* SECTION - SEGMETNOS E SETORES */

.section-segmentos-setores {
    padding: 134px 0 109px 0;
}

.conteudo-section-segmentos-setores {
    padding: 0 30px;
    box-sizing: border-box;
    row-gap: 95px;
}

.title-segmentos-setores h2 {
    color: #353597;
    font-size: 48px;
    line-height: 44px;
    font-weight: 200;
    margin-bottom: 22px;
}

.title-segmentos-setores strong {
    font-weight: 900;
}

.title-segmentos-setores p {
    max-width: 1109px;
    width: 100%;
    font-size: 16px;
    color: #756E6E;
}

.swiper-card-segmentos-setores p {
    color: #353597;
    font-size: 28px;
    line-height: 58px;
    font-weight: 500;
    text-align: center;
}

.btn-swiper-segmentos-setores {
    width: 100%;
    top: calc(130px + 200px);
    align-self: center;
    padding: 0 30px;
}

.conteudo-section-segmentos-setores .swiper-button-next-custom,
.conteudo-section-segmentos-setores .swiper-button-prev-custom {
    width: 55px;
    height: 55px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-section-segmentos-setores .swiper-button-next-custom svg path {
    stroke: #000;
}

.conteudo-section-segmentos-setores .swiper-button-prev-custom svg path {
    stroke: #000;
}


/* SECTION - ESTAÇÃO DE TREM */

.section-estacao-trem {
    padding: 30px;
    height: 656px;
}

.bg-imagem-estaco-trem {
    background-image: linear-gradient(to left, #4848c5, #4848c500), url(../imagens/estacao-trem.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.conteudo-section-estacao-trem {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.text-btn-estacao-trem {
    row-gap: 39px;
    padding-bottom: 92px;
}

.text-btn-estacao-trem p {
    max-width: 497px;
    width: 100%;
    text-align: end;
    color: #fff;
    font-weight: 600;
    line-height: 30px;
    font-size: 20px;
    margin: 0;
}

.btn-estacao-trem {
    height: 57px;
    max-width: 378px;
    width: 100%;
    border-radius: 3px;
    border: none;
    background-color: #FF7C1E;
    box-shadow: rgba(0, 0, 0, 0.30);
}

.btn-estacao-trem a {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 17px;
    text-decoration: none;
    color: #fff;
}

.img-estacao-trem-responsiva {
    border-radius: 3px;
}

/* SECTION - NOVIDADES DO BLOG */

.section-novidades-do-blog {
    padding: 104px 0;
}

.conteudo-section-novidades-do-blog {
    row-gap: 50px;
}

.conteudo-section-novidades-do-blog h2 {
    font-size: 48px;
    font-weight: 200;
    line-height: 44px;
    color: #353597;
    align-self: flex-start;
}

.conteudo-section-novidades-do-blog strong {
    font-weight: 900;
}

.conteudo-section-novidades-do-blog a {
    text-decoration: none;
}

.conteudo-section-novidades-do-blog .card {
    border: none;
}

.conteudo-section-novidades-do-blog .card .card-img-top {
    border-radius: 0;
}

.card-bg-novidades-blog {
    height: 299px;
    background-size: cover;
}

.card-bg-pessoa {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.26), transparent), url(../imagens/img-novidades-blog-pessoa.png);
    background-repeat: no-repeat;
}

.card-bg-estacao {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.26), transparent), url(../imagens/img-novidades-blog-estacao.png);
    background-repeat: no-repeat;
}

.card-bg-trilhos {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.26), transparent), url(../imagens/img-novidades-trilhos.png);
    background-repeat: no-repeat;
}

.card-bg-novidades-blog p {
    padding-left: 20px;
    padding-bottom: 23px;
    font-weight: 600;
    font-size: 19px;
    line-height: 29px;
    letter-spacing: 0.016px;
    margin: 0;
}

.conteudo-section-novidades-do-blog .card-body {
    padding: 24px 0 21px 0;
}

.conteudo-section-novidades-do-blog .card-text {
    max-width: 342px;
    font-size: 20px;
    line-height: 29px;
    color: #756E6E;
    letter-spacing: 0.016px;
    font-weight: 500;
}

.btns-swiper-novidades-blog {
    row-gap: 34px;
}

.btns-novidades-blog-leia-mais {
    color: #FF7C1E;
    background-color: #fff;
    display: flex;
    column-gap: 9px;
    border: none;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns-novidades-blog-leia-mais svg path {
    stroke: #FF7C1E;
}

.btn-novidades-do-blog {
    max-width: 361px;
    width: 100%;
}

.btn-novidades-do-blog a {
    color: #fff;
    display: flex;
    column-gap: 17px;
    align-items: center;
}

.btns-swipers-novidades-do-blog {
    column-gap: 23px;
}

.btns-swipers-customs-novidades-blog {
    width: 55px;
    height: 55px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns-swipers-customs-novidades-blog svg path {
    stroke: black;
}

/* SECTION - FALE CONOSCO */

.container-section-fale-conosco {
    background-color: #4848C6;
}

.container-section-fale-conosco {
    padding: 92px 187px;
}

.conteudo-section-fale-conosco {
    row-gap: 22px;
}

.conteudo-section-fale-conosco h2 {
    color: #fff;
    font-size: 48px;
    line-height: 44px;
    text-align: center;
    font-weight: 100;
}

.conteudo-section-fale-conosco strong {
    font-weight: bold;
}

.conteudo-section-fale-conosco p {
    color: #fff;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
}

.oranges-btns {
    display: flex;
    column-gap: 21px;
    justify-content: center;
    align-items: center;
    background-color: #FF7C1E;
    color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
    height: 57px;
}

.btn-fale-conosco {
    max-width: 310px;
    width: 100%;
}

/*############################## FOOTER #####################################*/

footer {
    background-color: #353597;
}

.lines-footer {
    margin: 0;
    border: 2px solid rgba(255, 255, 255, 0.07);
}

/* SECTION - LISTAS FOOTER */

.lista-ancoras-footer {
    padding-top: 94px;
    padding-bottom: 75px;
}

.lista-ancoras-footer ul {
    padding-left: 0;
}

.lista-ancoras-footer li {
    display: flex;
    align-items: center;
    column-gap: 7.5px;
}

.ancor-list-footer {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    line-height: 33px;
    font-weight: 300;
    margin-bottom: 1px;
}

.title-list {
    color: #fff;
    font-size: 18px;
    line-height: 33px;
    font-weight: bold;
    text-decoration: none;
}


/*------------------ FOOTER ACCORDION RESPONSIVO - ABAIXO/ATÉ 1200px -------------------------*/

.accordion-footer {
    cursor: pointer;
    width: 100%;
    column-gap: 11px;
    padding: 22px 0;
}

.accordion-footer:hover .btn-accordion {
    border: 2px solid #FF7C1E;
}

.accordion-footer:hover .btn-accordion svg path {
    stroke: #FF7C1E;
}

.accordion-footer p {
    margin: 0;
}

.btn-accordion {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.40);
}

.btn-accordion.active {
    border: 2px solid #FF7C1E;
}

.arrow-icon {
    transition: .5s ease-in-out all;
}

.arrow-icon.rotated {
    transform: rotate(-180deg);
}

.arrow-icon.rotated path {
    stroke: #FF7C1E;
}

.ul-accordion-footer {
    padding-left: 40.5px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.3s ease;
    margin: 0;
}

.ul-accordion-footer.active {
    height: 170px;
    overflow: auto;
    opacity: 1;
    margin-bottom: 42px;
}

.ul-accordion-footer li {
    display: flex;
    column-gap: 7px;
}

.ancoras-fale-blog {
    text-indent: 43px;
    padding: 22px 0;
}

/* SECTION - SOCIAL MEDIA */

.conteudo-section-social-media-footer {
    padding: 54px 30px;
}

.div-redes-sociais-footer {
    column-gap: 61px;
}

.div-redes-sociais-footer path {
    stroke: #fff;
    fill: #fff;
}

/* SECTION - POLITICA E PRIVACIDADE */

.conteudo-section-politica-privacidade {
    padding: 25px 30px 20px 30px;
}

.direitos-reservados,
.cookies {
    color: #fff;
    font-size: 15px;
    line-height: 31px;
    margin: 0;
}

.conteudo-section-politica-privacidade a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    line-height: 31px;
}

.up-page {
    cursor: pointer;
    height: 51px;
    width: 51px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FF7C1E;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.30);
}

#up-page-md-break {
    margin-top: calc(19px - 77px);
    margin-bottom: 18px;
}

/*********************************************** FALE CONOSCO - PAGE ********************************************/

/* SECTION - TITLE IMAGE */

.section-title-image {
    background-image: linear-gradient(to right, #4848c5, transparent), url(../imagens/title-img-fale-conosco.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 95px;
    height: calc(570px + 95px);
    background-position: center;
}

.conteudo-section-title-image {
    height: 100%;
    width: 100%;
    display: flex;
    text-indent: 125px;
    align-items: center;
}

.conteudo-section-title-image h1 {
    font-size: 64px;
    line-height: 72px;
    font-weight: 800;
    color: #fff;
}

/* SECTION - TEXT SOMOS REFERÊNCIA */


.conteudo-section-text-somos-referencia {
    padding-top: 60px;
    padding-bottom: 38px;
}

.conteudo-section-text-somos-referencia p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.016px;
    color: #756E6E;
    max-width: 924px;
}

/* SECTION - FORMULÁRIO FALE CONOSCO */

.conteudo-section-form-fale-conosco {
    width: 100%;
    box-sizing: border-box;
}

.titulo-dos-inputs {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.016px;
    color: #161616;
}

.inputs-fale-conosco {
    column-gap: 30px;
}

.inputs-fale-conosco label {
    margin: 15px 0 3px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #161616;
}

.inputs-fale-conosco input {
    height: 57px;
    max-width: 543px;
    width: 100%;
    border: 2px solid #756E6E;
    border-radius: 3px;
}

.inputs-fale-conosco textarea {
    height: 251px;
    max-width: 543px;
    width: 100%;
    border: 2px solid #756E6E;
    border-radius: 3px
}

.checkbox-btn-enviar {
    margin-top: 23px;
    row-gap: 15px;
}

.div-checkbox {
    column-gap: 10px;
}

.checkbox-btn-enviar input[type="checkbox"] {
    width: 26px;
    height: 26px;
    border-radius: 0;
}

.checkbox-btn-enviar input[type="checkbox"]::before {
    background-color: #353597;
}

.checkbox-btn-enviar label {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #756E6E;
}

.checkbox-btn-enviar label a {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #756E6E;
}

.btn-envia-fale-conosco {
    max-width: 213px;
    width: 100%;
}

.div-btn-enviar-text {
    column-gap: 21px;
}

.text-btn-enviar-fale-conosco {
    max-width: 689px;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #756E6E;
}

.section-mapa {
    padding: 0;
}

/* SECTION - PERGUNTAS FREQUENTES */

.section-perguntas-frequentes {
    padding: 210px 0;
}

.title-perguntas-frequentes h2 {
    color: #353597;
    font-size: 48px;
    line-height: 44px;
    font-weight: 200;
}

.title-perguntas-frequentes h2 strong {
    font-weight: 800;
}

.title-perguntas-frequentes p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.016px;
    color: #756E6E;
}

.accordion-perguntas-frequentes {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.item-accordion-fale-conosco {
    background: #F1F1F1;
    border-radius: 10px;
    padding: 44px 37px;
    display: flex;
    flex-direction: column;
    row-gap: 13px;
}

.btn-text-click-accordion {
    display: flex;
    column-gap: 17px;
    width: 100%;
    align-items: center;
}

.btn-text-click-accordion p {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.016px;
    color: #756E6E;
    margin: 0;
}

.elipse-icon-accordion {
    border-radius: 50%;
    background-color: #FF7C1E;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.3);
}

.text-accordion-fale-conosco {
    max-width: 923px;
}

.text-accordion-fale-conosco p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.016px;
    color: #756E6E;
    padding-left: calc(84px - 37px);
    display: none;
}

.elipse-icon-accordion svg path {
    stroke: white;
    stroke-opacity: 1;
}

/* SECTION - REDES SOCIAIS FALE CONOSCO */

.section-redes-sociais-fale-conosco {
    padding: 90px 0;
}

.title-and-social-medias-fale-conosco {
    margin-bottom: 37px;
}

.title-and-social-medias-fale-conosco h2 {
    font-weight: 275;
    font-size: 48px;
    line-height: 44px;
    color: #353597;
}

.title-and-social-medias-fale-conosco strong {
    font-weight: 800;
}

.title-redes-socias-fale-conosco {
    display: flex;
    column-gap: 76px;
}

.conteudo-section-redes-sociais-fale-conosco .swiper-slide {
    max-width: 283.89px;
    max-height: 283.89px;
}

.btn-swiper-redes-sociais-fale-conosco {
    margin-top: 43.11px;
    column-gap: 23px;
}

.btn-swiper-redes-sociais-fale-conosco .swiper-button-next-custom,
.btn-swiper-redes-sociais-fale-conosco .swiper-button-prev-custom {
    width: 55px;
    height: 55px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-swiper-redes-sociais-fale-conosco .swiper-button-next-custom svg path {
    stroke: #000;
}

.btn-swiper-redes-sociais-fale-conosco .swiper-button-prev-custom svg path {
    stroke: #000;
}

/* SECTION - CONTATO E LOCALIZAÇÃO */

.section-contato-localizacao {
    min-height: 220px;
    display: flex;
    justify-content: center;
    margin: 91px 0 84px 0;
}

.item-contato-location {
    max-width: 352px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

.div-contato-local-icons {
    max-height: 95px;
    max-width: 95px;
    width: 100%;
    height: 100%;
    background-color: #353597;
    display: flex;
    align-items: center;
    justify-content: center;
}

.endereco {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.016px;
    color: #353597;
    margin: 0;
    text-align: center;
}

.cep {
    font-size: 18px;
    letter-spacing: 0.016px;
    font-weight: 300;
    color: #353597;
    margin: 0;
    text-align: center;
}

/***************************************** POLITICA E PRIVACIDADE PAGE ***************************************************/

/* SECTION - TITLE IMAGE */

.section-title-image-politica-privacidade {
    display: flex;
    align-items: end;
    padding: 0;
    height: calc(570px + 95px);
}

.bg-title-image {
    background-image: linear-gradient(to right, #4848C6, transparent), url(../imagens/title-img-politica-de-privacidade.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    max-height: calc(475px + 95px);
    height: 100%;
    width: 100%;
}

.conteudo-section-title-image-politica-privacidade {
    height: 100%;
    width: 100%;
    display: flex;
    text-indent: 125px;
    align-items: center;
}

.conteudo-section-title-image-politica-privacidade h1 {
    font-size: 64px;
    line-height: 72px;
    font-weight: 800;
    color: #fff;
}

/* SECTION - TEXTO PRINCIPAL */

.section-texto-principal {
    margin-top: 61px;
}

.main-text-aside {
    column-gap: 32px;
}

/* aside */

.conteudo-aside {
    border-radius: 5px;
    background-color: #353597;
    width: fit-content;
    box-sizing: border-box;
}

.lista-aside li {
    width: fit-content;
}

.item-list-lista-aside {
    cursor: pointer;
    display: flex;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: #FFFFFF;
    column-gap: 8px;
    width: calc(352px - 26px);
    align-items: center;
    padding: 25px 26px;
}

.item-introducao:hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.item-vigencia:hover {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.item-list-lista-aside:hover {
    transition: 0.2s ease;
    background-color: #FF7C1E;
}

.text-option-aside {
    max-width: 284px;
    width: 100%;
    margin: 0;
    margin-right: 8px;
}

.lista-aside hr {
    align-self: center;
    color: #4848C6;
    width: calc(100% - calc(26px + 26px));
    margin: 0;
}

/* main text */

.main-text h2 {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.016px;
    color: #161616;
}

.subtitle-main-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #161616;
    margin-bottom: 38px;
}

.normal-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #756E6E;
    margin-bottom: 38px;
}

.subtitle-ol {
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #756E6E;
}

.sumary-ol {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #756E6E;
    padding-left: 1em;
    margin-bottom: 62px;
}

.desciption-ol {
    padding-left: 0;
}

.bold-text-ol {
    font-weight: bold;
}

.light-text-ol {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #756E6E;
    margin-bottom: 34px;
}

.desciption-ol li {
    margin-bottom: 67px;
}

/****************************************** RESULTADOS DA BUSCA PAGE *******************************************/

.section-title-resultados {
    padding: 95px 0 42px 0;
}

.conjunto-tilte-resultados-busca {
    margin-top: 36px;
    margin-bottom: 42px;
}

.conjunto-tilte-resultados-busca h1 {
    font-weight: 275;
    font-size: 48px;
    line-height: 44px;
    color: #353597;
}

.conjunto-tilte-resultados-busca strong {
    font-weight: 800;
}

.where-site {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.016px;
    color: #756E6E;
    margin-bottom: 45px;
}

.busca-tremzao {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #756E6E;
    margin: 17px 0 7px 0;
}

.quantos-resultados {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #756E6E;
}

.line-resultados-title {
    position: absolute;
    border: 1px solid #dadada;
    margin: 0;
    z-index: -5;
}

.line-resultados-title-left {
    height: 100%;
    left: 58px;
    bottom: 0;
}

.line-resultados-title-center {
    height: 100%;
    bottom: 0;
    left: 50%;
    right: 50%;
}

.line-resultados-title-right {
    height: 100%;
    right: 58px;
    bottom: 0;
}

.line-resultados-title-bottom {
    width: 100%;
    bottom: 0;
}

/* SECTION - CHECKBOX RESULTADOS */

.section-checkboxs-resultados {
    padding: 25px 0 82px 0;
}

.checkbox-todos {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.checkbox-todos label {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #000000;
    cursor: pointer;
}

.checkbox-todos input[type="checkbox"] {
    -webkit-appearance: none;
    cursor: pointer;
    width: 26px;
    height: 26px;
    border: 2px solid #353597;
    display: flex;
    justify-content: center;
    align-items: end;
}

.checkbox-todos input[type="checkbox"]:checked {
    background-color: #353597;
}

.checkbox-todos input[type="checkbox"]:checked::after {
    content: url(../icons-svgs/icon-check.svg);
    height: 21px;
}

.is-select {
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #756E6E;
    padding: 17px 19px;
    border-radius: 3px;
    cursor: pointer;
    max-width: 257px;
    max-height: 57px;
    height: 100%;
    width: 257px;
}

.svg-select {
    right: 19px;
    top: 45%;
    z-index: -1;
}

.svg-select path {
    stroke: #756E6E;
    stroke-opacity: 1;
}

.is-select option slot {
    cursor: pointer;
}

/* SECTION - OPÇÕES DE BUSCA */

.section-filter-options {
    padding-bottom: 123px;
}

.conteudo-section-filter-options {
    display: flex;
    flex-direction: column;
    row-gap: 147px;
}

.todos-itens-options {
    display: flex;
    flex-wrap: wrap;
    columns: 3;
    gap: 65px 30px;
}

.tema-search {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #353597;
    margin-bottom: 32px;
}

.item-option {
    max-width: 352px;
    width: 100%;
    padding-bottom: 23px;
    border-bottom: 1px solid #e6e6e6;
}

.title-assunto {
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.016px;
    color: #756E6E;
    margin-bottom: 1px;
}

.description-assunto {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.016px;
    color: #756E6E;
    margin-bottom: 9px;
}

.ver-assunto-resultados-busca {
    display: flex;
    align-items: center;
    column-gap: 9px;
}

.ver-assunto-resultados-busca svg path {
    stroke: #FF7C1E;
    stroke-opacity: 1;
}

.ver-assunto-resultados-busca p {
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.016px;
    color: #FF7C1E;
    margin: 0;
}

/*********************************************** PAGE TRANSPORTES NO BRASIL ***************************************************/

.section-transportes-brasil {
    display: flex;
    align-items: end;
    padding: 0;
    height: 570px;
}

.bg-title-img-transportes-brasil {
    background-image: linear-gradient(to right, #4848C6, transparent), url(../imagens/title-img-transporte-no-brasil.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    max-height: 475px;
    height: 100%;
    width: 100%;
}

.conjunto-tilte-transportes-brasil h1 {
    max-width: 638px;
    font-weight: 300;
    font-size: 48px;
    line-height: 52px;
    color: #FFFFFF;
    margin: 84px 0 65px 0;
}

.conteudo-section-transportes-brasil {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.location-page-transportes-brasil {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.016px;
    color: #FFFFFF;
}

.data-post-transportes-brasil {
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.016px;
    color: #FFFFFF;
}

/* MAIN TEXT TRANSPORTES BRASIL */

.section-main-text-transportes-brasil-aside {
    margin-top: 61px;
    margin-bottom: 100px;
}

.main-text-transportes-brasil {
    max-width: 829px;
}

.main-text-transportes-brasil h2 {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.016px;
    color: #161616;
}

.normal-text-transportes-brasil {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #756E6E;
}

.start-main-text {
    margin-bottom: 61px;
}

.second-main-text {
    margin-bottom: 83px;
}

/* REDES SOCIAIS TRANSPORTES DO BRASIL */

.title-comentarios {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #353597;
    margin: 0;
    padding-bottom: 16px;
    border-bottom: 1px solid #e6e6e6;
}

.all-social-media {
    margin-top: 16px;
    margin-bottom: 75px;
    column-gap: 25px;
}

.elipse-social-media {
    border-radius: 50%;
    width: 57px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ball-pinterest {
    background-color: #CB2027;
}

.ball-twitter {
    background-color: #03A9F4;
}

.ball-facebook {
    background-color: #1976D2;
}

.ball-linkedin {
    background-color: #0077B5;
}

/* COMETÁRIOS */

.section-deixe-comentario {
    margin-bottom: 105px;
}

.title-deixe-comentario {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #353597;
    margin: 0;
}

.text-inputs-comentarios {
    margin-top: 15px;
    column-gap: 31px;
}

.inputs-textarea-comentarios {
    row-gap: 40px;
}

.inputs-comentarios-edit label,
.textarea-transportes-brasil label {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #161616;
}

.inputs-comentarios-edit {
    max-width: 399px;
    width: 100%;
}

.inputs-comentarios-edit input {
    width: 100%;
    border: 2px solid #756E6E;
    border-radius: 3px;
    height: 57px;
}

.textarea-transportes-brasil textarea {
    max-width: 829px;
    width: 100%;
    border: 2px solid #756E6E;
    border-radius: 3px;
    max-height: 251px;
    height: 100vh;
}

.checkbox-btn-enviar .checkbox-todos label {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #756E6E;
}

/* aside transportes brasil */

.conteudo-aside-transportes-brasil {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #353597;
    row-gap: 54px;
    margin-left: 30px;
}

.assuntos-aside-transportes-brasil {
    row-gap: 5px;
}

.item-assuntos-rows {
    gap: 5px;
}

.item-assuntos-aside-transportes-brasil {
    background-color: #FF7C1E;
    border-radius: 100px;
    padding: 1px 24px;
    width: fit-content;
}

.item-assuntos-aside-transportes-brasil a {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.016px;
    text-decoration: none;
}

.outras-noticias {
    row-gap: 21px;
}

/* comentários adicionados */

.local-de-adicao {
    display: flex;
    flex-direction: column;
    row-gap: 31px;
    margin-top: 31px;
}

.comentario-do-usuario {
    align-items: center;
    column-gap: 16px;
}

.nome-de-usuario {
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    color: #756E6E;
    margin: 0;
    margin-bottom: 4px;
}

.mensagem-do-usuario {
    margin: 0;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #756E6E;
}

.carregar-mais-comentarios {
    margin-top: 61px;
    column-gap: 9px;
    align-items: center;
}

.carregar-mais-comentarios svg path {
    stroke: #FF7C1E;
}

.carregar-mais-comentarios p {
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.016px;
    color: #FF7C1E;
    margin: 0;
}

/* SECTION - NOVIDADES POR EMAIL */

.section-novidades-por-email {
    margin-bottom: 111px;
}

.conteudo-section-novidades-por-email {
    background-color: #353597;
    height: 275px;
    box-sizing: border-box;
    padding: 75px 95px 79px 95px;
    z-index: 2;
    position: relative;
}

.conteudo-section-novidades-por-email h2 {
    font-weight: 275;
    font-size: 48px;
    line-height: 44px;
    color: #FFFFFF;
    margin-bottom: 19px;
    z-index: 1;
}

.conteudo-section-novidades-por-email h2 strong {
    font-weight: 800;
}

.inputs-novidades-por-email {
    column-gap: 30px;
    z-index: 1;
}

.inputs-novidades-por-email input {
    max-width: 383px;
    width: 100%;
    height: 57px;
    border-radius: 3px;
    border: none;
    box-sizing: border-box;
    padding-left: 18.24px;
}

.inputs-novidades-por-email input::placeholder {
    color: #000;
}

.inputs-novidades-por-email button {
    max-width: 290px;
    width: 100%;
    height: 57px;
    border-radius: 3px;
}

.conteudo-section-leia-tambem h2 {
    font-weight: 275;
    font-size: 48px;
    line-height: 44px;
    text-align: center;
    color: #353597;
}

.conteudo-section-leia-tambem strong {
    font-weight: 800;
}

/* SECTION - LEIA TAMBÉM */

.conjunto-de-cards {
    margin-top: 45px;
    margin-bottom: 82px;
    column-gap: 30px;
}

.conteudo-section-leia-tambem .card {
    max-width: 352px;
    border: none;
    padding: 0;
}

.conteudo-section-leia-tambem .card-img-top {
    max-height: 299px;
    width: 100%;
    height: 100vh;
}

.img-card-leia-tambem {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.div-data-acima-img {
    height: 100%;
    width: 100%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) -61.2%, rgba(0, 0, 0, 0) 44.45%);
}

.div-data-acima-img p {
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.016px;
    color: #FFFFFF;
    margin: 0 0 23px 20px;
}

.conteudo-section-leia-tambem .card-body {
    padding: 24px 0;
}

.conteudo-section-leia-tambem .card-body {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.016px;
    color: #756E6E;
}

.carregar-mais-comentarios {
    margin-top: 21px;
}

/************************************************** BLOG PAGE *****************************************************************/

.section-title-img-blog {
    display: flex;
    align-items: end;
    padding: 0;
    height: 570px;
}

.bg-image-blog {
    background-image: linear-gradient(to right, #4848C6, transparent), url(../imagens/title-image-blog.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    max-height: 475px;
    height: 100%;
    width: 100%;
}

.conteudo-section-title-img-blog {
    height: 100%;
}

.conteudo-section-title-img-blog h1 {
    font-weight: 800;
    font-size: 64px;
    line-height: 72px;
    color: #FFFFFF;
    text-indent: 76px;
}

.lines-absolute-blog-page {
    position: absolute;
    height: 100%;
    border: 1px solid #E6E6E6;
    margin: 0;
}

.lines-absolute-blog-page-left {
    bottom: 0;
    left: 58px;
    z-index: 3;
}

.lines-absolute-blog-page-center {
    bottom: 0;
    left: 50%;
    right: 50%;
    z-index: 0;
}

.lines-absolute-blog-page-right {
    bottom: 0;
    right: 58px;
    z-index: 3;
}

/* SECTION - FILTER BUTTONS */

.section-filter-buttons {
    margin-top: 60px;
    margin-bottom: 42px;
}

.conjunto-filter-btns {
    gap: 15px;
}

.btns-filters {
    background-color: #FF7C1E;
    text-align: center;
    width: fit-content;
    height: 31px;
    padding: 0 24px;
    color: #fff;
    border-radius: 100px;
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.016px;
    color: #FFFFFF;
    cursor: pointer;
}

.btns-filters:hover {
    background-color: #353597;
    transition: 0.4s ease;
}

.btns-filters.active {
    background-color: #353597;
}

/* SECTION - CARDS DO BLOG */

.categoria-blog-option {
    gap: 51px 30px;
}

.categoria-blog-option .card {
    max-width: 352px;
    border: none;
    padding: 0;
}

.categoria-blog-option .card-img-top {
    max-height: 299px;
    width: 100%;
    height: 100vh;
}

.img-card-leia-tambem {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.div-data-acima-img {
    height: 100%;
    width: 100%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) -61.2%, rgba(0, 0, 0, 0) 44.45%);
}

.div-data-acima-img p {
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.016px;
    color: #FFFFFF;
    margin: 0 0 23px 20px;
}

.categoria-blog-option .card-body {
    padding: 24px 0;
}

.categoria-blog-option .card-body {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.016px;
    color: #756E6E;
}

.conteudo-section-cards-blog .oranges-btns {
    max-width: 380px;
    width: 100%;
    filter: drop-shadow(0px 25px 40px rgba(0, 0, 0, 0.15));
    column-gap: 17px;
    align-self: center;
    margin-bottom: 102px;
    margin-top: 92px;
}