@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-family-01: 'Poppins';
}

body {
    font-family: var(--font-family-01);
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: rgb(209, 209, 209);
}

body::-webkit-scrollbar-thumb {
    background-color: #848484;
    border: 3px solid rgb(209, 209, 209);
}

/*############################## HEADER #####################################*/

.section-nav-bar {
    background-color: #fff;
}

.conteudo-section-nav-bar {
    height: fit-content;
}

.lista-nav-bar {
    margin: 0;
    column-gap: 3vw;
}

.lista-nav-bar a {
    text-decoration: none;
    color: #353597;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    font-weight: 500;
}

.nav-ancor {
    padding: 31px 4px;
}

.nav-ancor:hover {
    border-bottom: 4px solid #FF7C1E;
}

.busca-language {
    font-size: 13px;
    color: #353597;
    column-gap: 3vw;
}

.icon-lupa-header {
    cursor: pointer;
}

/*----------------------------- MENU ----------------------------------------*/

.menu {
    cursor: pointer;
}

.menu::after {
    content: ' Menu';
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    color: #353597;
}

.conjunto-burguer div {
    width: 43px;
    height: 4px;
    margin: 6px;
    background-color: #353597;
    transition: .5s;
}

.menu.active .line1 {
    transform: rotate(45deg) translate(14%, 70%);
}

.menu.active .line2 {
    display: none;
}

.menu.active .line3 {
    transform: rotate(-45deg) translate(10%, -50%);
}

.conteudo-menu {
    display: flex;
    background-color: #f2f2f2;
    height: calc(100% - 95px);
    width: 0;
    overflow: hidden;
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    flex-direction: column;
    box-sizing: border-box;
    padding: 3px 15px;
    transition: .5s ease;
}

.conteudo-menu.active {
    z-index: 3;
    width: 100%;
    overflow: auto;
    opacity: 1;
}

body.active-overflow {
    overflow: hidden;
}

.item-list-menu {
    display: flex;
    max-width: 290px;
    width: 100%;
    padding: 5px 0;
    height: 50px;
}

.nav-ancor-menu {
    text-align: center;
    font-size: 18px;
    width: 100%;
    padding: 6px 0;
    color: #353597;
    text-decoration: none;
}

.conteudo-menu a:hover {
    border-bottom: 4px solid #FF7C1E;
}

.conteudo-menu hr {
    border: 1px solid #756e6e83;
}

.busca-language-gap {
    margin-top: 10px;
    column-gap: 127px;
}

.social-media-menu {
    margin-top: 58px;
}

/* SECTION - BUSCA */

.section-busca {
    background-color: rgba(255, 255, 255, 0.85);
    width: 0;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    opacity: 0;
    right: 0;
    top: 0;
}

.section-busca.active {
    overflow: auto;
    opacity: 0;
    width: 100%;
}

.div-conjunto-busca {
    position: relative;
    max-width: 736px;
    width: 100%;
    margin-bottom: 19px;
}

.fechar-busca{
    height: 40px;
    width: 40px;
    position: absolute;
    top: -60px;
    right: -31px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.conteudo-fechar-busca {
    width: 28px;
    display: inline-flex;
}

.conteudo-fechar-busca div {
    height: 25.46px;
    width: 2px;
    background-color: #756E6E;
}

.line-x-1 {
    transform: rotate(45deg) translate(100%, 0%);
}

.line-x-2 {
    transform: rotate(-45deg) translate(-75%, 5%);
}

.input-de-busca {
    width: 100%;
    height: 67px;
    border-radius: 3px;
    border: 2px solid #756E6E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 7px;
}

.input-de-busca input {
    height: 56px;
    border: none;
    max-width: 415px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    box-sizing: border-box;
    padding-left: 20px;
    outline: 0;
}

.btn-buscar-site {
    max-width: 297px;
    width: 100%;
    height: 57px;
    background-color: #FF7C1E;
    border: none;
    border-radius: 3px;
}

.btn-buscar-site a {
    text-decoration: none;
    color: #fff;
    display: flex;
    column-gap: 13px;
    justify-content: center;
    align-items: center;
}

.btn-buscar-site svg path {
    stroke: white;
}

.btn-buscar-site circle {
    stroke: #fff;
}

/*############################### MAIN ######################################*/

/* SECTION - SOLUÇÃO DE MOBILIDADE */

.swiper-card {
    background-image: url(../imagens/img-swiper-mobilidade.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 46%;
    height: 684px;
    display: flex;
}

.navigation-pagination {
    top: calc(95px + 75px);
    left: 79px;
    max-height: 417px;
}

.title-banner {
    width: fit-content;
    height: fit-content;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    top: 235px;
}

h1 {
    font-size: 64px;
    line-height: 72px;
    font-weight: lighter;
    background-color: #353597d2;
    color: #fff;
    font-weight: 900;
    margin: 0;
    margin-bottom: 14px;
    max-height: 64px;
    height: 100%;
}

.text-h1 {
    width: fit-content;
    font-size: 59px;
    line-height: 72px;
    font-weight: lighter;
    background-color: #353597d2;
    color: #fff;
    font-weight: 200;
    margin: 0;
    margin-bottom: 4px;
    max-height: 59px;
    position: relative;
}

.subtitle-text-banner {
    color: #353597;
    background-color: rgba(167, 175, 178, 0.80);
    font-size: 19px;
    line-height: 28px;
    font-weight: 500;
    margin: 0;
    max-height: 26px;
    width: fit-content;
}

#subtitle-banner-up {
    margin-bottom: 3px;
}

#space-btn-portfolio {
    margin-bottom: 24px;
}

.btn-conheca-portfolio {
    max-width: 370px;
    width: 100%;
}

.swiper-pagination-custom {
    max-height: 272px;
    height: 100%;
}

.swiper-pagination-custom span {
    border: 2px solid #fff !important;
    height: 8px !important;
    width: 8px !important;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #fff !important;
}

.down-page {
    cursor: pointer;
    position: absolute;
    height: 51px;
    width: 51px;
    border-radius: 50%;
    background-color: #FF7C1E;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 103px;
    right: 31px;
    z-index: 1;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}

.down-arrow {
    transform: rotate(180deg);
}

/* SECTION - QUEM SOMOS */

.section-quem-somos {
    padding: 30px;
}

.bg-image-quem-somos {
    background-image: linear-gradient(to right, #4848C6, transparent), url(../imagens/trem.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.conteudo-section-quem-somos h2 {
    color: #fff;
    font-size: 48px;
    line-height: 44px;
    font-weight: 200;
}

.conteudo-section-quem-somos strong {
    font-weight: 900;
}

.conteudo-section-quem-somos p {
    font-size: 16px;
    letter-spacing: 0.016px;
    color: #fff;
}

.text-title-btn {
    padding: 86px 0 98px 80px;
}

.text-quem-somos {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    max-width: 512px;
    width: 100%;
}

.btn-conheca-trenzao {
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    color: #fff;
    max-width: 432px;
    width: 100%;
    height: 57px;
    background-color: #FF7C1E;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
    margin-top: 27px;
}

/* SECTION - PRODUTOS E SERVIÇOS */

.section-produtos-servicos {
    padding: 97px 0 129px 0;
}

.conteudo-section-produtos-servicos h2 {
    font-size: 48px;
    line-height: 44px;
    color: #353597;
    font-weight: 200;
    margin-bottom: 27px;
}

.conteudo-section-produtos-servicos strong {
    font-weight: 900;
}

.title-produtos-servicos {
    padding-left: 125px;
}

.text-normal-produtos-servicos {
    color: #756E6E;
    font-weight: 400;
    letter-spacing: 0.016px;
    font-size: 16px;
}

.text-negrito-produtos-servicos {
    color: #756E6E;
    letter-spacing: 0.016px;
    font-size: 16px;
    font-weight: 600;
}

.btn-produtos-servicos {
    justify-content: center;
    align-items: center;
    color: #fff;
    max-width: 352px;
    width: 100%;
    height: 57px;
    background-color: #FF7C1E;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
    margin-top: 46px;
    column-gap: 15px;
}

.conteudo-swiper-produtos-servicos {
    row-gap: 32px;
}

.swiper-shadow {
    width: fit-content !important;
}

.swiper-card-produtos-servicos {
    height: 596px;
    width: 352px;
    display: flex;
    align-items: end;
}

/* .swiper-card-produtos-servicos::after {
    z-index: -1;
    content: '';
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.30);
} */

.text-btn-cards-produtos-servicos {
    width: 100%;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.btn-card-swiper-produtos-servicos {
    background-color: #FF7C1E;
    height: 66px;
    width: 66px;
    border: none;
}

#card-vagoes {
    background-image: url(../imagens/card-vagoes-produtod-servicos.png);
}

.btns-swipers-produtos-servicos {
    column-gap: 23px;
}

.btns-swipers-customs-produtos-servicos {
    width: 55px;
    height: 55px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns-swipers-produtos-servicos svg path {
    stroke: black;
}

/* SECTION - SEGMETNOS E SETORES */

.conteudo-section-segmentos-setores {
    row-gap: 95px;
}

.title-segmentos-setores h2 {
    color: #353597;
    font-size: 48px;
    line-height: 44px;
    font-weight: 200;
    margin-bottom: 22px;
}

.title-segmentos-setores strong {
    font-weight: 900;
}

.title-segmentos-setores p {
    max-width: 1109px;
    width: 100%;
    font-size: 16px;
    color: #756E6E;
}

.swiper-card-segmentos-setores {
    max-height: 264px;
    height: 100%;
}

.swiper-card-segmentos-setores p {
    color: #353597;
    font-size: 28px;
    line-height: 58px;
    font-weight: 500;
    text-align: center;
}

/* width: 55px !important;
height: 55px !important;
border: 2px solid black;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center; */



/* stroke: #000; */

/* SECTION - ESTAÇÃO DE TREM */

.section-estacao-trem {
    padding: 30px;
    height: 656px;
}

.bg-imagem-estaco-trem {
    background-image: linear-gradient(to left, #4848c5, #4848c500), url(../imagens/estacao-trem.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.conteudo-section-estacao-trem {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.text-btn-estacao-trem {
    row-gap: 39px;
    padding-bottom: 92px;
}

.text-btn-estacao-trem p {
    max-width: 497px;
    width: 100%;
    text-align: end;
    color: #fff;
    font-weight: 600;
    line-height: 30px;
    font-size: 20px;
    margin: 0;
}

.btn-estacao-trem {
    height: 57px;
    max-width: 378px;
    width: 100%;
    border-radius: 3px;
    border: none;
    background-color: #FF7C1E;
    box-shadow: rgba(0, 0, 0, 0.30);
}

.btn-estacao-trem a {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 17px;
    text-decoration: none;
    color: #fff;
}

.img-estacao-trem-responsiva {
    border-radius: 3px;
}

/* SECTION - FALE CONOSCO */

.container-section-fale-conosco {
    background-color: #4848C6;
}

.container-section-fale-conosco {
    padding: 92px 187px;
}

.conteudo-section-fale-conosco {
    row-gap: 22px;
}

.conteudo-section-fale-conosco h2 {
    color: #fff;
    font-size: 48px;
    line-height: 44px;
    text-align: center;
    font-weight: 100;
}

.conteudo-section-fale-conosco strong {
    font-weight: bold;
}

.conteudo-section-fale-conosco p {
    color: #fff;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
}

.oranges-btns {
    display: flex;
    column-gap: 21px;
    justify-content: center;
    align-items: center;
    background-color: #FF7C1E;
    color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
    height: 57px;
}

.btn-fale-conosco { 
    max-width: 310px;
    width: 100%;
}

/*############################## FOOTER #####################################*/

footer {
    background-color: #353597;
}

.lines-footer {
    margin: 0;
    border: 2px solid rgba(255, 255, 255, 0.07);
}

/* SECTION - LISTAS FOOTER */

.lista-ancoras-footer {
    padding-top: 94px;
    padding-bottom: 75px;
}

.lista-ancoras-footer ul {
    padding-left: 0;
}

.lista-ancoras-footer li {
    display: flex;
    align-items: center;
    column-gap: 7.5px;
}

.ancor-list-footer {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    line-height: 33px;
    font-weight: 300;
    margin-bottom: 1px;
}

.title-list {
    color: #fff;
    font-size: 18px;
    line-height: 33px;
    font-weight: bold;
    text-decoration: none;
}


/*------------------ FOOTER ACCORDION RESPONSIVO - ABAIXO/ATÉ 1200px -------------------------*/

.accordion-footer {
    cursor: pointer;
    width: 100%;
    column-gap: 11px;
    padding: 22px 0;
}

.accordion-footer:hover .btn-accordion {
    border: 2px solid #FF7C1E;
}

.accordion-footer:hover .btn-accordion svg path {
    stroke: #FF7C1E;
}

.accordion-footer p {
    margin: 0;
}

.btn-accordion {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.40);
}

.btn-accordion.active {
    border: 2px solid #FF7C1E;
}

.arrow-icon {
    transition: .5s ease-in-out all;
}
.arrow-icon.rotated {
    transform: rotate(-180deg);
}

.arrow-icon.rotated path {
    stroke: #FF7C1E;
}

.ul-accordion-footer {
    padding-left: 40.5px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.3s ease;
    margin: 0;
}

.ul-accordion-footer.active{
    height: 170px;
    overflow: auto;
    opacity: 1;
    margin-bottom: 42px;
}

.ul-accordion-footer li {
    display: flex;
    column-gap: 7px;
}

.ancoras-fale-blog {
    text-indent: 43px;
    padding: 22px 0;
}

/* SECTION - SOCIAL MEDIA */

.conteudo-section-social-media-footer {
    padding: 54px 30px;
}

.div-redes-sociais-footer {
    column-gap: 61px;
}

.div-redes-sociais-footer path {
    stroke: #fff;
    fill: #fff;
}

/* SECTION - POLITICA E PRIVACIDADE */

.conteudo-section-politica-privacidade {
    padding: 25px 30px 20px 30px;
}

.direitos-reservados, .cookies {
    color: #fff;
    font-size: 15px;
    line-height: 31px;
    margin: 0;
}

.conteudo-section-politica-privacidade a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    line-height: 31px;
}

.up-page {
    cursor: pointer;
    height: 51px;
    width: 51px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FF7C1E;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.30);
}

#up-page-md-break {
    margin-top: calc(19px - 77px);
    margin-bottom: 18px;
}
