@charset "UTF-8";

@media (min-width: 1400px) {

    .lista-nav-bar {
        margin: 0;
        column-gap: 2vw;
    }
    
}

@media (min-width: 1200px) {

    /*###################### HEADER ###############################*/

    .lista-nav-bar {
        margin: 0;
        column-gap: 2vw;
    }

    /*################## MAIN ################################*/

    /* SECTION - BANNER */

    .title-banner {
        text-align: start;
        left: 130px;
    }

    .navigation-pagination {
        height: 100%;
    }

    /* SECTION - QUEM SOMOS */

    .text-title-btn {
        padding-left: 96px;
    }

    /* SECTION - PRODUTOS E SETORES */

    .title-produtos-servicos {
        margin-right: 30px;
        max-width: 352px;
    }

    .btns-swiper-solucoes {
        margin-top: 32px;
    }

    .btns-swipers-produtos-servicos {
        position: absolute;
        left: 382px;
    }

    /* SECTION - SEGMENTOS E SETORES */

    .section-segmentos-setores {
        padding: 120px 0 41px 0;
    }

    /* SECTION - NOVIDADES DO BLOG */

    .conteudo-section-novidades-do-blog {
        margin: 0 125px;
    }

}

@media (min-width: 1200px) and (max-width: 1400px) {
    .conteudo-section-nav-bar {
        max-width: 1220px;
    }
}

@media (min-width: 992px) and (max-width: 1199.09px) {
    .conteudo-section-nav-bar {
        padding: 0 39px 0 30px;
    }

    /*########################## MAIN ##########################*/

    /* SECTION - BANNER */

    .title-banner {
        align-items: center;
    }

    .navigation-pagination {
        height: 100%;
        left: 47px;
    }

    /* PRODUTOS E SERVIÇOS */

    .title-produtos-servicos {
        padding: 0 110px;
        margin-bottom: 49px;
    }

    .btns-swiper-solucoes {
        margin-top: 51px;
    }

    /* SECTION - SEGMENTOS E SETORES */

    /* SECTION - ESTAÇÃO DE TREM */

    .text-btn-estacao-trem {
        padding-right: 80px;
        padding-bottom: 82px;
    }

    /* SECTION - NOVIDADES DO BLOG */

    .conteudo-section-novidades-do-blog {
        padding: 0 30px !important;
    }

    .conteudo-section-novidades-do-blog .swiper-slide {
        max-width: 352px;
    }

    /* SECTION - FALE CONOSCO */

    .container-section-fale-conosco {
        padding: 93px 157px 98px 157px;
    }

}

@media (min-width: 768px) and (max-width: 991.08px) {

    .conteudo-section-nav-bar {
        padding: 0 60px 0 30px;
    }

    /*########################## MAIN ##########################*/

    /* SECTION - BANNER */

    .title-banner {
        align-items: center;
    }

    .navigation-pagination {
        height: 100%;
        left: 30px;
    }

    /* SECTION - PRODUTOS E SERVIÇOS */

    .btns-swiper-solucoes {
        margin-top: 51px;
    }

    .title-produtos-servicos {
        margin-bottom: 73px;
    }

    /* SECTION - SEGMENTOS E SETORES */

    .section-segmentos-setores {
        padding: 134px 0 59px 0;
    }

    .btn-swiper-segmentos-setores {
        top: calc(178px + 175px);
    }

    /* SECTION - ESTAÇÃO DE TREM */

    .text-btn-estacao-trem {
        padding-right: 60px;
        padding-bottom: 82px;
    }

    /* SECTION - NOVIDADES DO BLOG */

    .conteudo-section-novidades-do-blog {
        padding: 0 30px !important;
    }

    /* SECTION - FALE CONOSCO */

    .container-section-fale-conosco {
        padding: 119px 30px;
    }

    .conteudo-section-fale-conosco p {
        line-height: 25px;
    }

    /*########################## FOOTER ########################*/

    /* SECTION - POLITICAS DE PRIVACIDADE */

    .conteudo-section-politica-privacidade {
        padding: 16px 30px 23px 30px;
    }

    .up-page {
        position: absolute;
    }

    .direitos-reservados {
        margin-bottom: 7px;
    }

    /******************************* FALE CONOSCO - PAGE *************************/

    .inputs-fale-conosco div {
        width: 100%;
    }

    .inputs-fale-conosco input {
        max-width: 100%;
    }

    .inputs-fale-conosco textarea {
        max-width: 100%;
    }

    /***************************** PRODUTOS E SERVIÇOS - PAGE ********************/

    /* SECTION - O QUE FAZEMOS */

    .text-oque-fazemos-left,
    .text-oque-fazemos-right {
        max-width: 750px;
        width: 100%;
    }

    .text-oque-fazemos-left p,
    .text-oque-fazemos-right p {
        max-width: 100%;
    }

    .conteudo-section-poder-escolha h2 {
        text-align: center;
    }

    .conteudo-section-poder-escolha ul {
        padding-left: 0;
    }

    /* SECTION - O QUE FAZEMOS */

    .text-oque-fazemos-left {
        margin-top: 64px;
        margin-bottom: 0;
        margin-right: 0;
        row-gap: 31px;
    }

    .text-oque-fazemos-right {
        margin-top: 44px;
        margin-bottom: 82px;
        margin-left: 0;
        row-gap: 31px;
    }
}

@media (min-width: 576px) and (max-width: 767.08px) {

    .conteudo-section-nav-bar {
        padding: 0 50px 0 32px;
    }

    .img-tremzao-header {
        width: 65px;
        height: 65px;
    }

    .conteudo-menu {
        height: calc(100% - 65px);
    }

    /*################################# MAIN ##############################*/

    /* SECTION - BANNER */

    .title-banner {
        align-items: center;
        top: 118px;
    }

    .title-banner .text-h1 {
        font-size: 41px;
        line-height: 40px;
        margin-bottom: 2px;
    }

    .title-banner h1 {
        font-size: 44px;
        line-height: 43px;
        margin-bottom: 7px;

    }

    .subtitle-text-banner {
        font-size: 15px;
        line-height: 22px;
        background-color: #fff;
    }

    #space-btn-portfolio {
        margin-bottom: 17px;
    }

    .navigation-pagination {
        top: 389px;
        max-width: 224px;
        width: 100%;
        left: auto;
        place-self: center;
    }

    .down-page {
        right: auto;
        place-self: center;
        bottom: 169px;
    }

    /* SECTION - QUEM SOMOS */

    .section-quem-somos {
        padding: 0px;
    }

    .bg-image-quem-somos {
        background-image: none;
        background-color: #4848C6;
    }

    .conteudo-section-quem-somos h2 {
        margin: 0;
        font-size: 35px;
    }

    .conteudo-section-quem-somos p {
        margin: 0;
    }

    .text-title-btn {
        padding: 71px 0 73px 0px;
    }

    .text-quem-somos {
        margin-top: 2px;
        max-width: 100%;
        font-weight: 300;
    }

    .btn-conheca-trenzao {
        max-width: 100%;
        margin-top: 17px;
    }

    /* SECTION - PRODUTOS E SERVIÇOS */

    .btns-swiper-solucoes {
        margin-top: 51px;
    }

    .title-produtos-servicos {
        margin-bottom: 73px;
    }

    /* SECTION - SEGMENTOS E SETORES */

    .section-segmentos-setores {
        padding: 134px 0 59px 0;
    }

    .btn-swiper-segmentos-setores {
        top: calc(178px + 175px);
        padding: 0 10px;
    }

    /* SECTION - ESTAÇÃO DE TREM */

    .text-btn-estacao-trem {
        padding-right: 40px;
        padding-bottom: 82px;
    }

    /* SECTION - NOVIDADES DO BLOG */

    .conteudo-section-novidades-do-blog {
        padding: 0 15px !important;
    }

    .conteudo-section-novidades-do-blog .card {
        max-width: 100%;
    }

    .card-bg-novidades-blog {
        max-height: 100%;
        background-size: cover;
    }

    /* SECTION - FALE CONOSCO */

    .container-section-fale-conosco {
        z-index: 4;
        position: relative;
        padding: 65px 0px;
    }

    .conteudo-section-fale-conosco {
        row-gap: 16px;
    }

    .conteudo-section-fale-conosco h2 {
        font-size: 35px;
    }

    .conteudo-section-fale-conosco p {
        font-size: 16px;
        line-height: 25px;
    }

    .btn-fale-conosco {
        max-width: 100%;
    }

    /*################################ FOOTER #############################*/

    /* SECTION - POLITICAS DE PRIVACIDADE */

    .conteudo-section-politica-privacidade {
        padding: 27px 13px 10px 13px;
    }

    .up-page {
        margin: 38px 0;
        margin-right: 56px;
    }

    .div-redes-sociais-footer {
        margin-left: 0;
    }

    /******************************* FALE CONOSCO - PAGE *************************/

    .inputs-fale-conosco div {
        width: 100%;
    }

    .inputs-fale-conosco input {
        max-width: 100%;
    }

    .inputs-fale-conosco textarea {
        max-width: 100%;
    }

    /***************************** PRODUTOS E SERVIÇOS - PAGE ********************/

    .conteudo-section-poder-escolha h2 {
        text-align: center;
    }

    .conteudo-section-poder-escolha ul {
        padding-left: 0;
    }

    /* SECTION - O QUE FAZEMOS */

    /* SECTION - O QUE FAZEMOS */

    .text-oque-fazemos-left,
    .text-oque-fazemos-right {
        max-width: 750px;
        width: 100%;
    }

    .text-oque-fazemos-left p,
    .text-oque-fazemos-right p {
        max-width: 100%;
    }


    .text-oque-fazemos-left {
        margin-top: 64px;
        margin-bottom: 0;
        margin-right: 0;
        row-gap: 31px;
    }

    .text-oque-fazemos-right {
        margin-top: 44px;
        margin-bottom: 82px;
        margin-left: 0;
        row-gap: 31px;
    }

}

@media (max-width: 575.09px) {

    .conteudo-section-nav-bar {
        padding: 0 50px 0 32px;
        column-gap: 73px;
    }

    .img-tremzao-header {
        width: 65px;
        height: 65px;
    }

    .conteudo-menu {
        height: calc(100% - 65px);
    }

    /*################################# MAIN ##############################*/

    /* SECTION - BANNER */

    .title-banner {
        align-items: center;
        top: 118px;
    }

    .title-banner .text-h1 {
        font-size: 41px;
        line-height: 40px;
        margin-bottom: 2px;
    }

    .title-banner h1 {
        font-size: 44px;
        line-height: 43px;
        margin-bottom: 7px;

    }

    .subtitle-text-banner {
        font-size: 15px;
        line-height: 22px;
        background-color: #fff;
    }

    #space-btn-portfolio {
        margin-bottom: 17px;
    }

    .navigation-pagination {
        top: 389px;
        max-width: 224px;
        width: 100%;
        left: 48px;
        right: 48px;
        place-self: center;
    }

    .down-page {
        right: auto;
        place-self: center;
        bottom: 169px;
    }

    /* SECTION - QUEM SOMOS */

    .section-quem-somos {
        padding: 0px;
        height: fit-content;
    }

    .bg-image-quem-somos {
        background-image: none;
        background-color: #4848C6;
    }

    .conteudo-section-quem-somos h2 {
        margin: 0;
        font-size: 35px;
    }

    .conteudo-section-quem-somos p {
        margin: 0;
    }

    .text-title-btn {
        padding: 71px 0 73px 0px;
    }

    .text-quem-somos {
        font-weight: 300;
        margin-top: 2px;
        max-width: 100%;
    }

    .btn-conheca-trenzao {
        max-width: 100%;
        margin-top: 17px;
    }

    /* SECTION - PRODUTOS E SERVIÇOS */

    .conteudo-section-produtos-servicos h2 {
        font-size: 35px;
        line-height: 44px;
        margin-bottom: 10px;
    }

    .title-produtos-servicos {
        padding: 0;
        margin-bottom: 48px;
    }

    .mySwiperProdutosServicos .swiper-slide {
        max-width: 290px;
    }
    
    .swiper-card-produtos-servicos {
        height: 290px;
    }

    .btns-swiper-solucoes {
        margin-top: 34px;
        align-items: center;
        row-gap: 21px;
    }    

    /* SECTION - SEGMENTOS E SETORES */

    .section-segmentos-setores {
        padding: 73px 0 60px 0;
    }

    .conteudo-section-segmentos-setores {
        row-gap: 20px;
    }

    .btn-swiper-segmentos-setores {
        position: static !important;
        column-gap: 19px;
    }

    /* SECTION - ESTAÇÃO DE TREM */

    .section-estacao-trem {
        padding: 0;
        height: 587px;
    }

    .bg-imagem-estaco-trem {
        background-image: none;
        background-color: #4848c5;
    }

    .conteudo-section-estacao-trem {
        padding: 17px;
        box-sizing: border-box;
        height: fit-content;
        align-items: center;
        row-gap: 19px;
    }

    .text-btn-estacao-trem {
        width: 100%;
        row-gap: 19px;
        align-items: center !important;
        padding-bottom: 20px;
    }

    .img-estacao-trem-responsiva {
        min-height: 352px;
    }

    .btn-estacao-trem {
        max-width: 100%;
    }

    .text-btn-estacao-trem p {
        font-size: 15px;
        text-align: start;
        line-height: 26px;
    }

    /* SECTION - NOVIDADES DO BLOG */

    .conteudo-section-novidades-do-blog {
        padding: 0 15px !important;
    }

    .conteudo-section-novidades-do-blog .card {
        max-width: 100%;
    }

    .card-bg-novidades-blog {
        background-size: cover;
        height: 264px;
    }

    /* SECTION - FALE CONOSCO */

    .container-section-fale-conosco {
        z-index: 4;
        position: relative;
        padding: 65px 0px;
    }

    .conteudo-section-fale-conosco {
        row-gap: 16px;
    }

    .conteudo-section-fale-conosco h2 {
        font-size: 35px;
        margin: 0;
    }

    .conteudo-section-fale-conosco p {
        font-size: 16px;
        line-height: 25px;
        margin: 0 0 15px 0;
    }

    .btn-fale-conosco {
        max-width: 100%;
    }

    /*################################ FOOTER #############################*/

    /* SECTION - POLITICAS DE PRIVACIDADE */

    .conteudo-section-politica-privacidade {
        padding: 27px 13px 10px 13px;
    }

    .up-page {
        margin: 38px 0;
        margin-right: 56px;
    }

    .div-redes-sociais-footer {
        margin-left: 0;
    }

    /******************************* FALE CONOSCO - PAGE *************************/

    .conteudo-section-title-image {
        text-indent: 0;
        justify-content: center;
    }

    .conteudo-section-title-image h1 {
        font-size: 34px;
        text-align: center;
        text-indent: 0;
    }

    .conteudo-section-text-somos-referencia p {
        font-size: 12px;
        line-height: 22px;
        text-align: center;
    }

    .titulo-dos-inputs {
        font-size: 18px;
        text-align: center;
    }

    .inputs-fale-conosco div {
        width: 100%;
    }

    .inputs-fale-conosco input {
        max-width: 100%;
    }

    .inputs-fale-conosco textarea {
        max-width: 100%;
    }

    .checkbox-btn-enviar label {
        font-weight: 400;
        font-size: 10px;
    }

    .checkbox-btn-enviar label a {
        font-weight: 400;
        font-size: 10px;
    }

    .div-btn-enviar-text {
        row-gap: 12px;
    }

    .div-btn-enviar-text .btn-envia-fale-conosco {
        max-width: 100%;
    }

    .text-btn-enviar-fale-conosco {
        font-weight: 400;
        font-size: 10px;
        text-align: center;
    }

    /***************************** PRODUTOS E SERVIÇOS - PAGE ********************/

    /* SECTION - TITLE IMAGE */

    .conteudo-section-title-img-produtos-servicos h1 {
        font-size: 40px;
        line-height: 48px;
        text-indent: 0;
        text-align: center;
    }

    /* SECTION - O QUE FAZEMOS */

    .text-oque-fazemos-left {
        margin-top: 64px;
        margin-bottom: 0;
        margin-right: 0;
        row-gap: 31px;
    }

    .text-oque-fazemos-right {
        margin-top: 31px;
        margin-bottom: 82px;
        margin-left: 0;
        row-gap: 31px;
    }

    .text-oque-fazemos-left h2 {
        font-size: 30px;
        line-height: 26px;
        margin-bottom: 12px;
    }

    .conteudo-section-oque-fazemos p {
        font-weight: 400;
        font-size: 12px;
        max-width: 100%;
    }

    /* SECTION - PODER DE ESCOLHA */

    .section-poder-escolha {
        padding: 0;
    }

    .conteudo-section-poder-escolha {
        padding: 78px 10px;
    }


    .conteudo-section-poder-escolha h2 {
        text-align: center;
        font-size: 30px;
        line-height: 28px;
    }

    .conteudo-section-poder-escolha ul {
        padding-left: 0;
    }

    .conteudo-section-poder-escolha li {
        font-size: 12px;
        line-height: 24px;
        white-space: normal;
    }

    .check-poder-escolha {
        background-color: #4848C6;
    }

    .check-poder-escolha svg path {
        stroke: #fff;
    }
}