@charset "UTF-8";

@media (min-width: 1200px) {
    
}

@media (min-width: 992px) and (max-width: 1199.09px) {
    .conteudo-section-nav-bar {
        padding: 0 39px 0 30px;
    }

}

@media (min-width: 768px) and (max-width: 991.08px) {
    
    .conteudo-section-nav-bar {
        padding: 0 60px 0 30px;
    }

}

@media (min-width: 576px) and (max-width: 767.08px) {

    .conteudo-section-nav-bar {
        padding: 0 50px 0 32px;
    }
    
    .img-tremzao-header {
        width: 65px;
        height: 65px;
    }

    .conteudo-menu {
        height: calc(100% - 65px);
    }

}

@media (max-width: 575.09px) {

    .conteudo-section-nav-bar {
        padding: 0 50px 0 32px;
        column-gap: 73px;
    }

    .img-tremzao-header {
        width: 65px;
        height: 65px;
    }

    .conteudo-menu {
        height: calc(100% - 65px);
    }

}
